<div class="container">

<div class="row">
  <div class="col-sm-4">
    <img src="logo.png">
  </div>

  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-left" style ="height:40px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="text-left">
          Sign-In
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-left">
          Up-Coming Events
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-left">
          Past Events
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="text-left" style ="border-bottom: 1px solid #eee;height:10px;">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-left" style ="border-bottom: 1px solid #eee;height:10px;">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-left" style ="border-bottom: 1px solid #eee;height:10px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="text-left" style ="height:10px;">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="text-left">
          All Projects
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-left">
          NSF Patent
        </div>
      </div>
      <div class="col-sm-4">
        <div class="text-left">
          Alexandria Playgrounds
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="text-left" style ="height:20px;">
    </div>
  </div>
</div>

<nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Home</a>
   </div>
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Google Groups Forum</a>
   </div>
   <div class="navbar-header">
      <a class="navbar-brand" href="#">MeetUp</a>
   </div>
   <div class="navbar-header">
      <a class="navbar-brand" href="#">Github Code</a>
   </div>
   <div class="navbar-header">
      <a class="navbar-brand" href="#">About Us</a>
   </div>
</nav>

<div class="row">
  <div class="col-sm-12">
    <div style = "position:relative">
      <div class="top-text" style="position:absolute; top:70px;z-index:10;">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <div style = "background:rgba(50, 50, 50, .8);font-size:20px; padding:0px 5px 0px 5px;">
            Come join developers, designers, data geeks, leaders, and idea-makers who 
            volunteer to help Arlington County, Alexandria City, and Fairfax County
            governments and civic orgs adopt open web technologies.
          </div>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
      <img src="Ballston.jpg">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    Our Blog
  </div>
  <div class="col-sm-4">
    Our Inspiration
  </div>
  <div class="col-sm-4">
    @NSF
  </div>
</div>

</div>

