
<div class="container" id="main-container">
<div class="row">
    <div class="col-xs-12" id="top-spacer">
    </div>
</div>

<div class = "row" id="header-for-xs">
  <div class="col-xs-12">
    <div class="xs-header-background">
      <div>
        <img class="center-image" src="logo-rectangle-xs.png">
      </div>
    </div>
  </div>
</div>

<div class="row" id="header-for-sm-plus">
  <div class="col-sm-4">
    <img src="logo-rectangle.png">
  </div>

  <div class="col-sm-8">

    <div class="row">
      <div class="col-xs-12 col-sm-12" >
        <div id="spacer-row-above-quick-links">
        </div>
      </div>
    </div>

    <div class="row" id="quick-links-container-larger">
      <div class="col-sm-4">
          <a href="#" class="quick-link-sm-plus">Projects</a>
      </div>
      <div class="col-sm-4">
        <div>
          <a href="#" class="quick-link-sm-plus">Upcoming Events</a>
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          <a href="#" class="quick-link-sm-plus">Past Events</a>
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row" id="spacer-row-below-header-for-sm-plus">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id="nav-for-xs">

  <div class="col-xs-4">
    <div class="xs-nav-bar-buttons">
      <div>
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks" data-toggle="dropdown">
          Events <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">MeetUp</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Meetup Directions</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Past Events</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Upcomming Events</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="xs-nav-bar-buttons">
      <div>
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks" data-toggle="dropdown">
          Projects <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">All Projects</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Data</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">GitHub Code</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="xs-nav-bar-buttons">
      <div>
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks" data-toggle="dropdown">
          About Us <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">Our Blog</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Google Forum</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Who We Are</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row" id="nav-bar-for-sm-plus">

  <div class="col-sm-2" style="text-align-left;padding-right:0px">
    <div class="nav-item-on-left" style="text-align-left; left-margin:0px;padding-left:10px;padding-right:0px">
      <a href="#" class="nav-bar-ref-for-sm-plus-on-page">Home</a>
    </div>
  </div>

  <div class="col-sm-2" style="padding-right:0px; padding-left:0px">
    <div class="nav-item-on-left" style="padding-right:20px;text-align:center;">
      <a href="#" class="nav-bar-ref-for-sm-plus">Meet Up</a>
    </div>
  </div>

  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-4" id="nav-item-on-right">
        <div>
          <a href="#" class="nav-bar-ref-for-sm-plus">Our Blog</a>
        </div>
      </div>
      <div class="col-sm-4" id="nav-item-on-right">
        <div>
          <a href="#" class="nav-bar-ref-for-sm-plus">Google Forum</a>
        </div>
      </div>
      <div class="col-sm-4" style="padding-left:0px;padding-right:15px;">
        <div id="nav-item-on-right" style="padding-right:10px;text-align:right;">
          <a href="#" class="nav-bar-ref-for-sm-plus">About Us</a>
        </div>
      </div>
    </div>
  </div>

</div>

<!--
<nav class="navbar navbar-default" role="navigation" style="margin-bottom:15px;">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    
    <div class="navbar-header" style="display:line-block;width:14%;">
      <a class="navbar-brand" style="margin-left:0px;" href="#">Home</a>
    </div>
    <div class="navbar-header" style="float:left;width:21%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">MeetUp</a>
    </div>
    <div class="navbar-header" style="display:line-block;width:25%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Google Forum</a>
    </div>
    <div class="navbar-header" style="width:20%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Our Blog</a>
    </div>
    <div class="navbar-header" style="width:20%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:right;width:100%;" href="#">About Us</a>
    </div>
  </div>
</nav>-->

<div class="row" id="billboard-for-sm-plus">
  <div class="col-sm-12">
    <div class="home-image">
      <div class="top-text">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <div class="main-message">
            <div>
              Come join designers, developers, leaders, idea-makers and data geeks!
              <span id="meetup-link-container">
                <a class="meetup-link" href="http://www.meetup.com/Arlington-Code-Shop/">Meet Up!</a>
              </span>
            </div>
            <div style= "padding-top:2px;">
              We use technology to help 
              government and civic organizations in Arlington, Alexandria and Fairfax.
            </div>
          </div>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="billboard-for-xs">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div class="main-message">
      Come join developers, designers, data geeks, leaders, and idea-makers who volunteer to help 
      Arlington, Alexandria and Fairfax governments and civic orgs adopt open technologies. 
    </div>
  </div>
    <div class="col-xs-1">
  </div>
</div>

<div class="row" id="spacer-below-billboard-for-sm-plus">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id="tag-text-for-sm-plus">
  <div class="col-sm-6">
    <div style = "text-aligh:left;padding-left:0px">
      Our Inspiration
    </div>
  </div>
</div>

<div id="tags-sm-plus">
  <div style="display:inline-block">
    <img src="code_for_america_logo.png">
  </div>
</div>

<div id="tags-xs">
  <div style="display:inline-block">
    <img src="code_for_america_logo.png">
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="bottom-spacer">
  </div>
</div>

</div>

