
<div class="container" id="main-container">
<div class="row">
    <div class="col-xs-12" id="top-spacer">
    </div>
</div>

<div class = "row" id="header-for-xs">
  <div class="col-xs-12">
    <div class="xs-header-background">
      <div>
        <img class="center-image" src="logo-rectangle-xs.png">
      </div>
    </div>
  </div>
</div>

<div class="row" id="header-for-sm-plus">
  <div class="col-sm-4">
    <img src="logo-rectangle.png">
  </div>

  <div class="col-sm-8">

    <div class="row">
      <div class="col-xs-12 col-sm-12" >
        <div id="spacer-row-above-quick-links">
        </div>
      </div>
    </div>

    <div class="row" id="quick-links-larger">
      <div class="col-sm-4">
        <div>
          Projects
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          Project Data
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          Past Events
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="quick-links-underlines">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="quick-links-underlines">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="quick-links-underlines">
        </div>
      </div>
    </div>

  </div>
</div>


<div class="row" id="spacer-row-below-header-for-sm-plus">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id="nav-for-xs">

  <div class="col-xs-4">
    <div class="xs-nav-bar-buttons">
      <div>
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks" data-toggle="dropdown">
          Events <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">MeetUp</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Meetup Directions</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Past Events</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Upcomming Events</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="xs-nav-bar-buttons">
      <div>
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks" data-toggle="dropdown">
          Projects <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">All Projects</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Data</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">GitHub Code</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="xs-nav-bar-buttons">
      <div>
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks" data-toggle="dropdown">
          About Us <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">Our Blog</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Google Forum</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Who We Are</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-default" role="navigation" style="margin-bottom:15px;">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    
    <div class="navbar-header" style="display:line-block;width:10%;">
      <a class="navbar-brand" style="margin-left:0px;" href="#">Home</a>
    </div>
    <div class="navbar-header" style="float:left;width:17%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">MeetUp</a>
    </div>
    <div class="navbar-header" style="display:line-block;width:21%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Google Forum</a>
    </div>
    <div class="navbar-header" style="width:21%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Github Code</a>
    </div>
    <div class="navbar-header" style="width:15%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Our Blog</a>
    </div>
    <div class="navbar-header" style="width:16%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:right;width:100%;" href="#">About Us</a>
    </div>
  </div>
</nav>

<div class="row" id="billboard-for-sm-plus">
  <div class="col-sm-12">
    <div class="home-image">
      <div class="top-text">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
          <div class="main-message">
              Come join developers, designers, data geeks, leaders, and idea-makers who volunteer to help Arlington, Alexandria and Fairfax governments and civic orgs adopt open technologies. 
          </div>
        </div>
        <div class="col-sm-2">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" id="billboard-for-xs">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div class="main-message">
      Come join developers, designers, data geeks, leaders, and idea-makers who volunteer to help Arlington, Alexandria and Fairfax governments and civic orgs adopt open technologies. 
    </div>
  </div>
    <div class="col-xs-1">
  </div>
</div>

<div class="row" id="spacer-below-billboard-for-sm-plus">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id="tag-text-for-sm-plus">
  <div class="col-sm-6">
    <div style = "text-aligh:left;padding-left:0px">
      Our Inspiration
    </div>
  </div>
</div>

<div id="tags-sm-plus">
  <div style="display:inline-block">
    <img src="code_for_america_logo.png">
  </div>
</div>

<div id="tags-xs">
  <div style="display:inline-block">
    <img src="code_for_america_logo.png">
  </div>
</div>

<div class="row">
  <div class="col-sm-12" id="bottom-spacer">
  </div>
</div>

</div>

