<div class="container" id="main-container">


<div class="fixed-at-top">
<div class="row" id="header-for-sm-plus">
  <div class="col-sm-4">
    <img src="logo-rectangle.png">
  </div>

  <div class="col-sm-8">

    <div class="row">
      <div class="col-xs-12 col-sm-12" >
        <div id="spacer-row-above-quick-links">
        </div>
      </div>
    </div>

    <div class="row" id="quick-links-larger">
      <div class="col-sm-4">
        <div>
          All Projects
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          Up Coming Events
        </div>
      </div>
      <div class="col-sm-4">
        <div>
          Past Events
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="quick-links-underlines">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="quick-links-underlines">
        </div>
      </div>
      <div class="col-sm-4">
        <div class="quick-links-underlines">
        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" id="spacer-row-below-header-for-sm-plus">
  <div class="col-sm-12">
  </div>
</div>

<nav class="navbar navbar-default" role="navigation" style="margin-bottom:15px;">
  <div class="container-fluid" style="padding-right:0px;padding-left:0px">
    
    <div class="navbar-header" style="display:line-block;width:10%;">
      <a class="navbar-brand" style="margin-left:0px;" href="#">Home</a>
    </div>
    <div class="navbar-header" style="float:left;width:17%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">MeetUp</a>
    </div>
    <div class="navbar-header" style="display:line-block;width:21%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Google Forum</a>
    </div>
    <div class="navbar-header" style="width:21%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Github Code</a>
    </div>
    <div class="navbar-header" style="width:15%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:center;width:100%;" href="#">Our Blog</a>
    </div>
    <div class="navbar-header" style="width:16%;">
      <a class="navbar-brand" style="margin-left:0px;text-align:right;width:100%;" href="#">About Us</a>
    </div>
  </div>
</nav>

</div><!--fixed top-->


<div ng-controller="ProjectCtrl">
  <div ng-repeat="project in projects">

<div class="row">
  <div class="col-sm-12">
    <div class="white-project-background">
    <div class="row" >
      <div class="col-sm-11">
        <div class = "project-container">
          <div class="project-name">
            {{project.name}}
          </div>
          <div class="project-description">
            {{project.description}}
          </div>
          <div>
            <div class="by-tech-label">
              Technology:
            </div>
            <div class="by-tech">
              Ruby, Database Management  
            </div>
          </div>
          <div style="clear:both;">
          </div>
          <div class = "proj-link-buttons">
             <a  id="proj-link-actual-buttons" href="{{project.github_url}}">Github Repository</a>
             <button id="proj-link-actual-buttons">Wanna Help?</button>
             <button id="proj-link-actual-buttons">Data</button>
          </div>
        </div>
      </div>
      <div class="col-sm-1">
        <img src="nsf-patent-logo.png" style="float:right">
      </div>
    </div>
    </div>
  </div>
</div>

  </div>
</div> <!--ng-controller-->



<div class="row" id="proj-row-spacer-for-sm-plus">
  <div class="col-sm-12">
  </div>
</div>


</div><!-- container -->