/* X-Small and X-Small Plus devices 
 Note items specifically for X Small are marked with xs*/

/*-X Small devices turn off items for Small and Small Plus sizes*/
#billboard-for-sm-plus {
  display:none;
}

#header-for-sm-plus {
  display:none;
}

#nav-for-sm-plus {
  display:none;
}

#spacer-below-billboard-for-sm-plus {
  display:none;
}

#tags-sm-plus {
  display:none;
}

/* also turn off items for less than 600px*/
#billboard-for-xs-less-600 {
  display:none;
}



/* End Turn Off Items */

/* X-Small devices Continued...*/

#billboard-for-xs{
  margin:15px 0px 20px 0px;
  background-color:rgba(100, 115, 133,1.0);
  display:block;
}



#bottom-spacer {
    height:15px;
}

.center-image-xs {
  display:block;
  margin:0px auto 0px auto;
}

#center-nav-blocks-xs {
  display:block;
  text-align:center;
  margin:0px auto 0px auto;
  padding:6px 0px 6px 0px;
}

#col-xs-12-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

/*maybe delete  next three
*/#col-left {
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  height:130px;
}

#col-middle {
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  height:130px;
}

#col-right {
  padding:4px 0px 4px 4px;
  margin:0px 0px 0px 0px;
  height:130px;
}

#general-row-spacer {
    height:12px;
}


#header-for-xs {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
  background-color:#700;
}

#inspiration-container-xs {
  display:block;
}

.main-message{
  background:rgba(100, 115, 133,1.0);
  font-size:20px;
  padding:10px 0px 10px 0px;line-height:1.2em;
}

.meetup-link {
  border-color:rgb(78, 93, 108);
  border-style:solid;
  border-width:1px;
  background-color:#556589;
  font-size:18px;
  font-weight:700;
  margin:4px 4px 4px 4px; /*overwritten in xs to be zero margins on left and right*/
  padding:0px 6px 0px 6px;
  white-space:nowrap;
}

a.meetup-link:link{color:#fff;text-decoration:none;}
a.meetup-link:visited {background-color:#556589;color:#fff;}
a.meetup-link:hover {background-color:rgb(43, 62, 80);color:#fff;}
a.meetup-link:active {background-color:rgb(43, 62, 80);color:#fff;}

#nav-for-xs {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
}

#row-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

#spacer-row-below-header-xs{
    height:15px;
  }

#spacer-top {
  height:16px;
}

#tags-xs {
  display:block;
}

.xs-header-background {
  background-color:rgb(100, 115, 133);
  padding:0px 0px 0px 0px;
}

.xs-nav-bar-buttons {
  /*width:100%;*/
  background-color:rgb(78, 93, 108);
}

#xs-nav-bar-font {
  font-size:1.0em;
}

@media (max-width: 500px) {
  #billboard-for-xs-less-600{
    margin:15px 0px 20px 0px;
    background-color:rgba(100, 115, 133,1.0);
    display:block;
  }
  #billboard-for-xs {
    display:none;
  }
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #billboard-for-sm-plus {
    display:block;
  }

  #header-for-sm-plus {
    display:block;
  }

  .row-one-image {
    background-image:url('images/discovery01.jpg');
    height:126px;
  }

  .row-two-image {
    background-image:url('images/silverInternet11.jpg');
    height:264px;
  }

  #we-are-image {
    background-image:url('images/whoWeAre04.png');
   /* background-color:#000;*/
    height:126px;
  }

  #bee-image {
    background-image:url('images/bee01.jpg');
    height:126px;
  }
  .row-one-message{
    background:rgba(100, 115, 133, .85);
    font-size:22px;
    font-weight:400;
    padding:10px 8px 10px 10px;line-height:1.2em;
    margin:25px 0px 0px 0px;
  }

  .row-two-message{
    background:rgba(100, 115, 133, .85);
    font-size:22px;
    font-weight:400;
    padding:10px 8px 10px 10px;line-height:1.2em;
    margin:80px 0px 0px 0px;
  }

  #nav-for-sm-plus {
    display:block;
  }

  .nav-item-on-left {
    background-color:rgba(78,93,108,1.0);
    line-height:1.2em;
    padding:6px 0px 6px 0px;
  }

  #nav-item-on-right {
    background-color:rgba(78,93,108,1.0);
    text-align:center;
    line-height:1.2em;
    padding:6px 0px 6px 0px;
  }

  #above-nav-bar-spacer {
        height:6px;
  }

  .nav-item-on-center {
    /*background-color:rgba(78,93,108,1.0);*/
    line-height:1.2em;
    /*padding:6px 0px 6px 0px;*/
    text-align:center;
    font-size:24px;
  }

  a.nav-bar-ref-for-sm-plus-on-curr-page {
    font-size:20px;
    padding:6px 6px 6px 6px;
    line-height:1.2em;
    text-decoration:none;
    color:#d0d5d8;
    font-weight:400;
  }

  a.nav-bar-ref-for-sm-plus-on-curr-page:hover {
    font-size:20px;
    padding:6px 6px 6px 6px;
    line-height:1.2em;
    text-decoration:none;
    color:#d0d5d8;
    font-weight:400;
    background-color:#647385;
  }

  a.nav-bar-ref-for-sm-plus:link { 
    font-size:20px;
    padding:6px 6px 6px 6px;
    color:#d0d5d8;
    line-height:1.2em;
    text-decoration:none;
  }
  a.nav-bar-ref-for-sm-plus:active {
    padding:6px 6px 6px 6px;
    background-color:#647385;
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:hover {
    padding:6px 6px 6px 6px;
    background-color:#647385;
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:visited { 
    font-size:20px;
    padding:6px 6px 6px 6px;
    color:#d0d5d8;
  }

  a.nav-bar-ref-for-sm-plus-home-page:link { 
    font-size:18px;
    padding:3px 6px 3px 6px;
    color:#d0d5d8;
    line-height:1.2em;
    text-decoration:none;
  }
  a.nav-bar-ref-for-sm-plus-home-page:active {
    padding:3px 6px 3px 6px;
    background-color:#647385;
    color:#fff;}
  a.nav-bar-ref-for-sm-plus-home-page:hover {
    padding:3px 6px 3px 6px;
    background-color:#647385;
    color:#fff;}
  a.nav-bar-ref-for-sm-plus-home-page:visited { 
    font-size:18px;
    padding:3px 6px 3px 6px;
    color:#d0d5d8;
  }

  .quick-links-underlines {
    border-bottom: 1px solid #eee;
  }

  a.quick-link-sm-plus:link{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    width:100%;
    border-width:0px 0px 1px 0px;
    border-style:solid;
    border-color:#d0d5d8;
    color:#d0d5d8;
    font-size:16px;
    text-decoration:none;
    font-weight:700;
  }
  a.quick-link-sm-plus:active {background-color:rgb(78, 93, 108); color:#f0f1f3;border-color:#f0f1f3;}
  a.quick-link-sm-plus:hover {background-color:rgb(78, 93, 108); color:#f0f1f3;border-color:#f0f1f3;}
  a.quick-link-sm-plus:visited {color:#d0d5d8;}

  a.quick-link-curr-page-sm-plus {
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    width:100%;
    border-width:0px 0px 1px 0px;
    border-style:solid;
    border-color:#fff;
    color:#fff;
    font-size:16px;
    font-weight:700;
    text-decoration:none;
  }
  a.quick-link-curr-page-sm-plus:active {background-color:rgb(78, 93, 108); color:#fff;border-color:#fff;}
  a.quick-link-curr-page-sm-plus:hover {background-color:rgb(78, 93, 108); color:#fff;border-color:#fff;}
  a.quick-link-curr-page-sm-plus:visited {color:#d0d5d8;}

  #spacer-row-above-quick-links {
    height:30px;
  }

  #spacer-below-billboard-for-sm-plus {
    height:10px;
    display:block;
  }



  #spacer-at-bottom {
    height:50px;
  }

  #tags-sm-plus {
    display:block;
  }



  /* Hide items that are only for XS */
  #billboard-for-xs{
    display:none;
  }

  #header-for-xs {
    display:none;
  }

  #nav-for-xs {
    display:none;
  }

  #tags-xs {
    display:none;
  }

  #spacer-row-below-header-xs{
    display:none;
  }

  #inspiration-container-xs {
  display:none;
}
  /* End hiding items that are only for XS */

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-message{
    background:rgba(100, 115, 133, .95);
    font-size:20px;
    padding:10px 6px 10px 10px;
    line-height:1.2em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #main-container {
    width:970px;
  }
  .main-message{
    background:rgba(100, 115, 133, .95);
    font-size:20px;
    padding:10px 10px 10px 10px;
    line-height:1.2em;
  }
}