/* X-Small devices */
#spacer-row-above-quick-links {
  height:30px;
}

#top-spacer {
  height:16px;
}

.xs-header-background {
  background-color:rgb(100, 115, 133);
}

.xs-nav-bar-buttons {
  width:100%;
  background-color:rgb(78, 93, 108);
}

#xs-nav-bar-font {
  font-size:1.0em;
}

#spacer-row-below-header-for-sm-plus {
  height:10px;
}

#billboard-for-xs{
  margin:20px 0px 20px 0px;
  background-color:rgba(100, 115, 133,1.0);
}

.main-message{
  background:rgba(100, 115, 133,1.0);
  font-size:20px;
  padding:10px 0px 10px 0px;line-height:1.2em;
}


#center-nav-blocks {
  display:block;
  margin:0px auto 0px auto;
}

  #bottom-spacer {
    height:15px;
}

#header-for-sm-plus {
  display:none;
}

#tags-xs {
  display:block;
}

#tags-sm-plus {
  display:none;
}
#nav-for-sm-plus {
  display:none;
}

#billboard-for-sm-plus {
  display:none;
}

#spacer-below-billboard-for-sm-plus {
  display:none;
}

#tag-text-for-sm-plus {
  display:none;
}

.center-image {
  display:block;
  margin:0px auto 0px auto;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .main-message{
    background:rgba(100, 115, 133, .95);
    font-size:22px;
    padding:10px 8px 10px 10px;line-height:1.2em;
  }

  .nav-item-on-left {
    background-color:rgba(78,93,108,1.0);
    line-height:1.2em;
    padding:6px 0px 6px 0px;
  }

  #nav-item-on-right {
    background-color:rgba(78,93,108,1.0);
    text-align:center;
    line-height:1.2em;
    padding:6px 0px 6px 0px;
  }

  a.nav-bar-ref-for-sm-plus-on-page {
    font-size:20px;
    padding:6px 6px 6px 6px;
    line-height:1.2em;
    text-decoration:none;
    color:#fff;
  }

  a.nav-bar-ref-for-sm-plus:link { 
    font-size:20px;
    padding:6px 6px 6px 6px;
    color:#d0d5d8;
    line-height:1.2em;
    text-decoration:none;
  }
  a.nav-bar-ref-for-sm-plus:hover {
    padding:6px 6px 6px 6px;
    background-color:#647385;
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:active {
    padding:6px 6px 6px 6px;
    background-color:#647385;
    color:#fff;}
    a.nav-bar-ref-for-sm-plus:visited { 
    font-size:20px;
    padding:6px 6px 6px 6px;
    color:#d0d5d8;
  }


  .meetup-link {
    border-color:rgb(78, 93, 108);
    border-style:solid;
    border-width:1px;
    background-color:#556589;
    font-size:18px;
    font-weight:700;
    margin:4px 4px 4px 4px;
    padding:0px 6px 0px 6px;
  }

  a.meetup-link:link{color:#fff;text-decoration:none;}
  a.meetup-link:visited {background-color:#556589;color:#fff;}
  a.meetup-link:hover {background-color:rgb(43, 62, 80);color:#fff;}
  a.meetup-link:active {background-color:rgb(43, 62, 80);color:#fff;}



  #billboard-for-sm-plus {
  display:block;
  }

  #header-for-sm-plus {
    display:block;
  }


  a.quick-link-sm-plus:link{margin-left:0;
                          margin-right:0;
                          padding-left:0;
                          padding-right:0;
                          display:block;
                          width:100%;
                          border-width:0px 0px 1px 0px;
                          border-style:solid;
                          border-color:#d0d5d8;
                          color:#d0d5d8;
                          font-size:16px;
                          text-decoration:none;}
  a.quick-link-sm-plus:visited {color:#d0d5d8;}
  a.quick-link-sm-plus:hover {background-color:rgb(78, 93, 108); color:#f0f1f3;border-color:#f0f1f3;}
  a.quick-link-sm-plus:active {background-color:rgb(78, 93, 108); color:#f0f1f3;border-color:#f0f1f3;}

  .quick-links-underlines {
    border-bottom: 1px solid #eee;
  }

  #spacer-row-above-quick-links {
    height:43px;
  }

  #spacer-row-below-header-for-sm-plus{
    height:30px;
  }

  #nav-for-sm-plus {
    display:block;
  }

  .home-image {
    background-image:url('Ballston.jpg');
    height:304px;
  }

  .top-text {
    position:absolute;
    top:86px;z-index:10;
  }

  #spacer-below-billboard-for-sm-plus {
    height:10px;
    display:block;
  }

  #tags-sm-plus {
    display:block;
  }

  #bottom-spacer {
    height:50px;
  }

  #header-for-xs {
    display:none;
  }

  #nav-for-xs {
    display:none;
  }

  #billboard-for-xs{
    display:none;
  }

  #tags-xs {
    display:none;
  }

  #tag-text-for-sm-plus {
    display:block;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .main-message{
    background:rgba(100, 115, 133, .95);
    font-size:20px;
    padding:10px 6px 10px 10px;
    line-height:1.2em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #main-container {
    width:970px;
  }
  .main-message{
    background:rgba(100, 115, 133, .95);
    font-size:20px;
    padding:10px 10px 10px 10px;
    line-height:1.2em;
  }
}