/*   dark-background-blue      rgb(43, 62, 80)     */
/*   lighter-background-blue   rgb(78, 93, 108)    */
/*   light-forefront-grey-blue rgb(100, 115, 133)  */
/*   light-blue-almost-white-for text rgb(208, 213, 216)  */
/* X-Small and X-Small Plus devices 
 Note items specifically for X Small are marked with xs*/

/* X=SMALL */
/* Turn Off Items for small and small-plus sizes */
#row-zeroed-for-sm-plus{
  display:none;
}
/* also turn off items for less than 600px*/
#billboard-for-xs-less-600{
  display:none;
}
/* Turn Off Items END*/

/* X-SMALL devices Continued...*/
#billboard-for-xs{
  margin:15px 0px 20px 0px;
  background-color:rgba(100, 115, 133,1.0);
  display:block;
}

.center-image-xs {
  display:block;
  margin:0px auto 0px auto;
}

#center-nav-blocks-xs {
  display:block;
  text-align:center;
  margin:0px auto 0px auto;
  padding:6px 0px 6px 0px;
}

#col-xs-12-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

#header-for-xs {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
}

#inspiration-container-xs {
  display:block;
}

#nav-for-xs {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
}

#spacer-row-below-header-xs{
    height:15px;
}

#tags-xs {
  display:block;
}

.xs-header-background {
  background-color:rgb(100, 115, 133);
  padding:0px 0px 0px 0px;
}

.xs-nav-bar-buttons {
  /*width:100%;*/
  background-color:rgb(78, 93, 108);
}

#xs-nav-bar-font {
  font-size:1.0em;
}

/* for all sized devices */

.main-message{
  background:rgba(100, 115, 133,1.0);
  font-size:20px;
  padding:10px 0px 10px 0px;line-height:1.2em;
}

#general-row-spacer {
  height:16px;
}

.meetup-link {
  border-color:#838F9D;
  border-style:solid;
  border-width:1px;
  background-color:#838F9D;
  font-size:18px;
  font-weight:700;
  margin:4px 4px 4px 4px; /*overwritten in xs to be zero margins on left and right*/
  padding:1px 7px 1px 7px;
  white-space:nowrap;
}

a.meetup-link:link{color:#fff;text-decoration:none;}
a.meetup-link:visited {background-color:#838F9D;color:#fff;}
a.meetup-link:hover {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}
a.meetup-link:active {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}

#row-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

#spacer-top {
  height:10px;
}

@media (max-width: 500px) {
  #billboard-for-xs-less-600{
    margin:15px 0px 20px 0px;
    background-color:rgba(100, 115, 133,1.0);
    display:block;
  }
  #billboard-for-xs {
    display:none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #above-nav-bar-spacer {
    height:6px;
  }

  #bee-image {
    background-image:url('images/bee03.jpg');
    height:126px;
    border-color:#fff;
  }

  #bee-overlay {
    /*color:rgb(208,213,216);*/
    color:#fff;
    visibility:hidden;
    font-size:40px;
    font-weight:400;
    line-height:1.2em;
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
  }

  #col-padding-sm-plus {
    padding:0px 8px 0px 8px;
  }

  .nav-item-on-center {
    line-height:1.2em;
    text-align:center;
    font-size:24px;
  }

  a.nav-bar-ref-for-sm-plus:link { 
    font-size:18px;
    padding:3px 6px 3px 6px;
    color:rgb(203,213,216);
    line-height:1.2em;
    text-decoration:none;
  }
  a.nav-bar-ref-for-sm-plus:active {
    padding:3px 6px 3px 6px;
    background-color:rgb(100,115,133);
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:hover {
    padding:3px 6px 3px 6px;
    background-color:rgb(100,115,133);
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:visited { 
    font-size:18px;
    padding:3px 6px 3px 6px;
    color:rgb(203,213,216);
  }

  #row-zeroed-for-sm-plus {
    margin:0px -8px 0px -8px;
    padding:0px 0px 0px 0px;
    display:block;
  }

  .row-one-image {
    background-image:url('images/discovery01.jpg');
    height:126px;
  }

  .row-one-message{
    background:rgba(100, 115, 133, .85);
    font-size:22px;
    font-weight:400;
    line-height:1.2em;
    margin:25px 0px 0px 0px;
    padding:10px 8px 10px 10px;
    color:#fff;
  }

  .row-two-image {
    background-image:url('images/silverInternet12.jpg');
    height:268px;
  }

  .row-two-message{
    background:rgba(100, 115, 133, .85);
    font-size:22px;
    font-weight:400;
    line-height:1.2em;
    margin:80px 0px 0px 0px;
    padding:10px 8px 10px 10px;
    color:#fff;
  }

  #spacer-at-bottom {
    height:50px;
  }

  #spacer-top-home {
    height:100px;
  }

  #we-are-image {
    background-image:url('images/whoWeAre06.png');
    height:126px;
    border-color:#fff;
  }

  /* Hide items that are only for XS */
  #billboard-for-xs{
    display:none;
  }

  #header-for-xs {
    display:none;
  }

  #nav-for-xs {
    display:none;
  }

  #tags-xs {
    display:none;
  }

  #spacer-row-below-header-xs{
    display:none;
  }

  #inspiration-container-xs {
  display:none;
}
  /* End hiding items that are only for XS */

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #main-container {
    width:750px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #main-container {
    width:750px;
  }
}