/* Small devices (tablets, 768px and up) */


  .project-container {
    padding:0px 0px 0px 4px;
  }
  .project-name {
    font-size:22px;
    color:rgb(78, 93, 108);
    font-weight:700;
    padding:4px 0px 0px 0px;
  }

  .project-description {
    font-size:16px;
    font-weight:700;
    color:#353535;
    padding:0px 0px 0px 0px;
  }

  .by-tech-label {
    font-size:16px;
    color:rgb(78, 93, 108);
    font-weight:700;
    padding:4px 0px 0px 0px;
    float:left;
    display:inline-block;
  }

  .by-tech {
    font-size:16px;
    color:#647385;
    font-weight:700;
    padding:4px 0px 0px 4px;
    float:left;
    display:inline-block;
  }

  a#proj-link {
    font-size:16px;
    padding:4px 6px 4px 6px;
    color:#d0d5d8;
    text-decoration:none;
    background-color:rgba(78,93,108,1.0);
    margin:2px 2px 2px 2px;
 }


  a#proj-link:active {
    margin:2px 2px 2px 2px;
    padding:4px 6px 4px 6px;;
    background-color:#647385;
    color:#fff;}
  a#proj-link:hover {
    margin:2px 2px 2px 2px;
    padding:4px 6px 4px 6px;;
    background-color:#647385;
    color:#fff;}
  a#proj-link:visited {
    margin:2px 2px 2px 2px;
    font-size:20px;
    padding:4px 6px 4px 6px;;
    color:#d0d5d8;
  }

  #project-row {
  margin:0px 0px 8px 0px;
  padding:0px 0px 0px 0px;
  background-color:#d0d5da;
  }

  .technology-container {
    margin:0px 0px 12px 0px;
 }

#spacer-row-below-nav {
  height:8px;
}

  .proj-links-container {
    margin:12px 0px 6px 0px;
  }

#col-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 6px 0px;
}


/*
  .fixed-at-top {
    position:fixed;
  }*/

