.row-05-31-14 {
    background-image:url('images/05-31-14-events.jpg');
    height:268px;
}

  .event-05-31-14{
    background:rgba(100, 115, 133, .85);
    font-size:24px;
    font-weight:400;
    padding:10px 8px 10px 10px;line-height:1.2em;
    margin:65px 0px 0px 0px;
  }
  
  .underline-div {
    float:left;
    border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:rgb(208, 213, 216);
  }

  #event-header-for-xs {
    margin-left:0px;
    margin-right:0px;
    padding:10px 0px 10px 0px;
    font-size:20px;
    font-weight:700;
    background-image:url('images/silverInternet13-xs.jpg');
  }


#events-xs-spacer {
  height:10px;
}

  #events-details {
    font-size:18px;
  }

  #events-details-xs-500 {
    display:none;
  }

  #events-details-xs {
    display:block;
  }

  #event-title-xs {
    font-size:22px;
    font-weight:400;
    text-decoration:underline;
    padding-bottom:16px;
  }

  #col-xs-6-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
  }

  #col-xs-6-zeroed-right {
  margin:0px 0px 0px 0px;
  padding:0px 8px 0px 0px;
  }

  .section-title {
    font-size:22px;
    font-weight:400;
    text-decoration:underline;
    padding-bottom:8px;
    color:rgb(208, 213, 216);
  }

  .section-text {
    font-size:18px;
    font-weight:400;
    color:rgb(208, 213, 216);
  }

  .section-text-link {
  border-width:0px;
  font-size:18px;
  font-weight:400;
  white-space:nowrap;
  text-decoration:underline;
  color:rgb(208, 213, 216);
}

a.section-text-link:link{color:#fff;text-decoration:underline}
a.section-text-link:visited {color:#fff;text-decoration:underline}
a.section-text-link:hover {color:#fff;text-decoration:none;background-color:#838F9D;color:#fff;border-color:#A2ABB6;}
a.section-text-link:active {color:#fff;text-decoration:underline}

  #col-padding-sm-plus-left-pictures {
    padding:4px 8px 0px 0px;
  }

@media (max-width: 500px) {
    #events-details-xs-500 {
    display:block;
  }
  #events-details-xs {
    display:none;
  }

}



.past-event-padding {
  padding-top:20px;
}

.events-container-border {
  border-color:rgb(100, 115, 133);
  border-style:solid;
  border-width:2px;
  border-radius:2px;  
}

.events-meetup-container {
  border-style:solid;
  border-radius:2px;
  border-color:#fff;
  border-width:1px;
}

.events-container-padding {
  padding-top:10px;
  padding-bottom:10px;
}

.events-container-sizing {
  padding-bottom:8px;
  height:290px;
}

.events-container-header {
  font-size:2.25em;
  font-weight:400;
  color:#eee;
}

.events-sub-header {
  font-size:1.75em;
  font-weight:400
}

.events-container-text-reg {  
  font-weight:300;
  line-height:1.2em;
  color:rgb(208, 213, 216);
  font-size:1.2em;  
}

.events-container-line-item-text {
  font-size:1.2em;
  font-weight:300;
  line-height:1.2em;
  color:rgb(208, 213, 216);
}

.events-meetup-text {
  padding-top:10px;
  font-size:1.375em;
  font-weight:300;
}

.next-event-rsvp {
  padding:0px 20px 0px 20px;
  font-size:1.25em;
  font-weight:300;
  color:#fff;
  width:100%;
  background-color:rgb(100, 115, 133);
  border-style:solid;
  border-width:1px;
  border-color:#999;
  border-radius:5px;
}

.upcoming-event-rsvp {
  font-size:1.0em;
  font-weight:300;
  padding:1px 0px 1px 0px;
  background-color:rgb(100, 115, 133);
  border-color:#999;
  border-style:solid;
  border-width:1px;
  background-color:rgb(100, 115, 133);
  border-radius:5px;
}


  #events-details {
    font-size:15px;
  }
  #events-details-xs-one-column {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
  }
  #event-header-for-xs {
    display:none;
  }
  #events-details-xs {
    display:none;
  }
  #event-title-xs {
    display:none;
  }


@media (min-width: 820px) {
  .events-container-sizing {
    padding-bottom:8px;
    height:250px;
  }
}