#col-padding-sm-plus {
    padding:0px 8px 0px 8px;
  }

@media (min-width: 768px) {
	

  #row-zeroed-for-sm-plus {
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    display:block;
  }

  .row-one-image {
    background-image:url('fimages/discovery01.jpg');
    height:126px;
  }

  #spacer-at-bottom {
    height:50px;
  }

  .line-below-header {
    background-color:rgb(208, 213, 216);
    height:2px;
    margin:14px 0px 30px 0px;
  }



}