.header-banner-row {
	margin-bottom:16px;
	position:relative;
}

.center-image-xs {
  display:block;
  margin:0px auto 0px auto;
}

.center-image-xs {
	height:150px;
	padding-top:8px; 
	padding-bottom:8px;
	background-color:rgb(100, 115, 133);
}