@media (min-width: 768px) {

	.outside-nav-item {
		float:right;
		width:35px;
		margin:0px 10px 10px 0px;
	}
	.outside-nav-item-rt {
		float:right;
		width:35px;
		margin:0px 0px 10px 0px;
	}

	.gen-outside-nav-item-container {
		float:right;
		display:inline-block;
	}

	.gen-outside-nav-item {
		padding:0px 10px 0px 10px;
	}

	.gen-outside-rt-nav-item {
		padding:0px 1px 0px 10px;
	}

	.gen-outside-nav-item-size {
		height:32px;
		width:auto;
	}
}