


.menu-next-to-cheveron {
  font-size:18px;
  line-height:21px;
  display:inline;
  float:left;
  padding:6px 10px 0px 10px;
  height:32px;
  background:rgb(78,93,108);
}

.row-navigation-chevron-menu {
  display:block;
  text-align:center;
  font-size:18px;
  line-height:21px;
  text-align:center;
  padding:6px 10px 0px 10px;
  height:32px;
  background:rgb(78,93,108);
  margin-bottom:16px;
}

.row-navigation-menu-position {
  display:inline-block;
}

.navigation-chevron-menu {
  display:none;
  margin-bottom:8px;
}
.chevron-down {  
  display:inline-block;
  float:left;
  height:32px;
  background:rgb(78,93,108);
  padding-top:6px;
  padding-right:8px;
}

.chevron-down-img img {
  height:15px;
  width:auto;
}
.chevron-up-img {
  display:none;  
}

.chevron-up-img img {
  height:15px;
  width:auto;
}
.chevron-up {
  display:inline-block;
  float:left;
  height:32px;
  background:rgb(78,93,108);
  padding-top:6px;
  padding-right:8px;
}

.navigation-under-chevron-items {
  clear:left;
  position:absolute;
  z-index:2;
}

.navigation-sub-class {display:none;}
  .li {
  font-size:1.25em;
  line-height:1.25em;
  text-align:center;
  background-color:rgb(100, 115, 133);
  :link{ color:#ddd;text-decoration:none;};
  :visited{ color:#ddd;text-decoration:none;};
  :hover{ color:#ddd;text-decoration:none;};
  :active{ color:#ddd;text-decoration:none;};
  padding:10px 10px 10px 6px;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#36464F;
  }

.li-chosen {
  font-size:40px;
  line-height:1.5em;
  text-align:center;
  :link{ color: #112C46;text-decoration:none;};
  :visited{ color: #112C46;text-decoration:none;};
  :hover{ color: #112C46;text-decoration:none;};
  :active{ color: #55555;text-decoration:none;};
  padding:10px 0px 10px 0px;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#36464F; 
}

.row-navigation-sub-class {display:none;}
  .li {
  font-size:1.25em;
  line-height:1.25em;
  text-align:center;
  background-color:rgb(100, 115, 133);
  :link{ color:#ddd;text-decoration:none;};
  :visited{ color:#ddd;text-decoration:none;};
  :hover{ color:#ddd;text-decoration:none;};
  :active{ color:#ddd;text-decoration:none;};
  padding:10px 10px 10px 6px;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#36464F;
  }

.row-li-chosen {
  font-size:40px;
  line-height:1.5em;
  text-align:center;
  :link{ color: #112C46;text-decoration:none;};
  :visited{ color: #112C46;text-decoration:none;};
  :hover{ color: #112C46;text-decoration:none;};
  :active{ color: #55555;text-decoration:none;};
  padding:10px 0px 10px 0px;
  border-top-style:solid;
  border-top-width:1px;
  border-top-color:#36464F; 
}



@media (min-width: 540px) {
  .navigation-chevron-menu {
    display:block;
  }

  .row-navigation-chevron-menu {
    display:none;
  }
}

@media (min-width: 768px) {

	.top-nav-pad {
    padding-top:8px;
  }

  .nav-item-on-left {
    line-height:1.2em;
    font-size:1.4em;
  }

  .nav-item-on-center {
    line-height:1.2em;
    text-align:center;
    font-size:1.4em;
  }

  a.nav-bar-ref-for-sm-plus:link { 
    padding:3px 6px 3px 6px;
    color:rgb(203,213,216);
    line-height:1.2em;
    text-decoration:none;
  }
  a.nav-bar-ref-for-sm-plus:active {
    padding:3px 6px 3px 6px;
    background-color:rgb(100,115,133);
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:hover {
    padding:3px 6px 3px 6px;
    background-color:rgb(100,115,133);
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:visited { 
    padding:3px 6px 3px 6px;
    color:rgb(203,213,216);
  }



}

@media (min-width:1050px) {
  .nav-item-on-left {
    font-size:1.5em;
  }

  .nav-item-on-center {
    font-size:1.5em;
  }

}