/*   dark-background-blue      rgb(43, 62, 80)     */
/*   lighter-background-blue   rgb(78, 93, 108) #4E5D6C*/
/*   light-forefront-grey-blue rgb(100, 115, 133) #647385*/
/*   light-blue-almost-white-for text rgb(208, 213, 216)  */
/* X-Small and X-Small Plus devices 
 Note items specifically for X Small are marked with xs*/

/* X=SMALL */
/* Turn Off Items for small and small-plus sizes */
#row-zeroed-for-sm-plus{
  display:none;
}
/* also turn off items for less than 600px*/
#billboard-for-xs-less-600{
  display:none;
}
/* Turn Off Items END*/

/* X-SMALL devices Continued...*/

#billboard-for-xs{
  margin:15px 0px 20px 0px;
  background-color:rgba(100, 115, 133,1.0);
  display:block;
}

.center-image-xs {
  display:block;
  margin:0px auto 0px auto;
}

#center-nav-blocks-xs {
  display:block;
  text-align:center;
  margin:0px auto 0px auto;
  padding:6px 0px 6px 0px;
}

#col-xs-12-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

#header-for-xs {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
}

#inspiration-container-xs {
  display:block;
}

#nav-for-xs {
  margin-left:0px;
  margin-right:0px;
  padding:0px 0px 0px 0px;
}

#spacer-row-below-header-xs{
    height:15px;
}

#tags-xs {
  display:block;
}

.xs-header-background {
  background-color:rgb(100, 115, 133);
  padding:0px 0px 0px 0px;
}

.xs-nav-bar-buttons {
  /*width:100%;*/
  background-color:rgb(78, 93, 108);
}

#xs-nav-bar-font {
  font-size:1.0em;
}

/* for all sized devices */

.main-message{
  background:rgba(100, 115, 133,1.0);
  font-size:20px;
  padding:10px 0px 10px 0px;line-height:1.2em;
}

#general-row-spacer {
  height:16px;
}

.meetup-link {
  border-color:#838F9D;
  border-style:solid;
  border-width:1px;
  background-color:#838F9D;
  font-size:18px;
  font-weight:700;
  margin:4px 4px 4px 4px; /*overwritten in xs to be zero margins on left and right*/
  padding:1px 7px 1px 7px;
  white-space:nowrap;
}

a.meetup-link:link{color:#fff;text-decoration:none;}
a.meetup-link:visited {background-color:#838F9D;color:#fff;}
a.meetup-link:hover {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}
a.meetup-link:active {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}

.minor-link {
  border-color:#838F9D;
  border-style:solid;
  border-width:1px;
  background-color:#838F9D;
  font-size:16px;
  font-weight:700;
  margin:4px 4px 4px 4px; /*overwritten in xs to be zero margins on left and right*/
  padding:1px 7px 1px 7px;
  white-space:nowrap;
}

a.minor-link:link{color:#fff;text-decoration:none;}
a.minor-link:visited {background-color:#838F9D;color:#fff;}
a.minor-link:hover {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}
a.minor-link:active {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}

#row-zeroed {
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

#spacer-top {
  height:300px;
}

@media (max-width: 500px) {
  #billboard-for-xs-less-600{
    margin:15px 0px 20px 0px;
    background-color:rgba(100, 115, 133,1.0);
    display:block;
  }
  #billboard-for-xs {
    display:none;
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .top-marg {
    margin-top:16px;
  }

  .bot-marg {
    margin-bottom:16px;
  }


  .lt-rt-col-pad {
    padding-left:8px;
    padding-right:8px;
  }

  .abs-pos-img {
    position:absolute;
    right:8px;
    padding-left:16px;
    bottom:0px;
    z-index:-2;
  }

  .main-message-positioning {
    position:absolute;
    top:25%;
  }

  .main-message{
    background:rgba(100, 115, 133, .85);
    font-size:20px;
    font-weight:300;
    line-height:1.5em;
    padding:10px 8px 10px 10px;
    color:#fff;
  }

  .minor-message-positioning {
    position:absolute;
    top:30%;
  }

  .minor-message {
    background:rgba(100, 115, 133, .85);
    font-size:1.25em;
    font-weight:300;
    line-height:1.5em;
    padding:10px 8px 10px 10px;
    color:#fff;
  }

  /* Hide items that are only for XS */
  #billboard-for-xs{
    display:none;
  }

  #header-for-xs {
    display:none;
  }

  #nav-for-xs {
    display:none;
  }

  #tags-xs {
    display:none;
  }

  #spacer-row-below-header-xs{
    display:none;
  }

  #inspiration-container-xs {
  display:none;
  }
  /* End hiding items that are only for XS */

}

@media (min-width:818px) {
  .main-message-positioning {    
    top:25%;
  }
  .main-message {
    font-weight:400;
    font-size:22px;
  }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width:1050px) {
  .main-message-positioning {
    top:30%;
  }

  .minor-message{
    font-size:1.4em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main-message{
     font-size:24px;
  }

    .minor-message{
    font-size:1.5em;
  }
}