/*   dark-background-blue      rgb(43, 62, 80)     */
/*   lighter-background-blue   rgb(78, 93, 108) #4E5D6C*/
/*   light-forefront-grey-blue rgb(100, 115, 133) #647385*/
/*   light-blue-almost-white-for text rgb(208, 213, 216)  */
/*   red text rgb(200, 55, 55)  */
/* X-Small and X-Small Plus devices 
 Note items specifically for X Small are marked with xs*/

/* X=SMALL */
/* Turn Off Items for small and small-plus sizes */
#sm-plus {
  display:none;
}

/* for all sized devices */



#center-nav-blocks-xs {
  display:block;
  text-align:center;
  margin:0px auto 0px auto;
  padding:6px 0px 6px 0px;
}

.xs-header-background {
  background-color:rgb(100, 115, 133);
}

.meetup-link {
  border-color:#838F9D;
  border-style:solid;
  border-width:1px;
  background-color:#838F9D;
  font-size:18px;
  font-weight:700;
  margin:4px 4px 4px 4px; /*overwritten in xs to be zero margins on left and right*/
  padding:1px 7px 1px 7px;
  white-space:nowrap;
}

a.meetup-link:link{color:#fff;text-decoration:none;}
a.meetup-link:visited {background-color:#838F9D;color:#fff;}
a.meetup-link:hover {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}
a.meetup-link:active {background-color:#838F9D;color:#fff;border-color:#A2ABB6;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #xs {
    display:none;
  }

  #sm-plus {
    display:block;
  }

  .top-marg {
    margin-top:16px;
  }

  .bot-marg {
    margin-bottom:16px;
  }

  .abs-pos-img {
    position:absolute;
    right:8px;
    padding-left:16px;
    bottom:0px;
    z-index:-2;
  }
}