@media (min-width: 768px) {

	.top-nav-pad {
    padding-top:8px;
  }

  .nav-item-on-left {
    line-height:1.2em;
    font-size:1.4em;
  }

  .nav-item-on-center {
    line-height:1.2em;
    text-align:center;
    font-size:1.4em;
  }

  a.nav-bar-ref-for-sm-plus:link { 
    padding:3px 6px 3px 6px;
    color:rgb(203,213,216);
    line-height:1.2em;
    text-decoration:none;
  }
  a.nav-bar-ref-for-sm-plus:active {
    padding:3px 6px 3px 6px;
    background-color:rgb(100,115,133);
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:hover {
    padding:3px 6px 3px 6px;
    background-color:rgb(100,115,133);
    color:#fff;}
  a.nav-bar-ref-for-sm-plus:visited { 
    padding:3px 6px 3px 6px;
    color:rgb(203,213,216);
  }

}

@media (min-width:1050px) {
  .nav-item-on-left {
    font-size:1.5em;
  }

  .nav-item-on-center {
    font-size:1.6em;
  }

}