@media (min-width: 768px) {

	.top-nav-pad {
    padding-top:12px;
  }

  .nav-item-on-left {
    line-height:1.2em;
    font-size:1.4em;
  }

  .nav-item-on-center {
    line-height:1.2em;
    text-align:center;
    font-size:1.4em;
  }

}

@media (min-width:1050px) {
  .nav-item-on-left {
    font-size:1.6em;
  }

  .nav-item-on-center {
    font-size:1.6em;
  }

}