.nav-btn-background {
	margin:0px 0px 0px auto; 
	width:90%;
	background-color:rgb(78, 93, 108);
	border-style:solid;
	border-width:1px;
	border-color:#999;
	border-radius:5px;
}

.nav-btn {
  display:block;
  text-align:center;
  margin:0px auto 0px auto;
  padding:3px 0px 3px 0px;
  font-size:1.125em;
}


#xs-nav-bar-font {
  font-size:1.2em;

}
