/* X-SMALL */
  .zero-pad {
    padding:0px;
  }

  .zero-marg {
    margin:0px;
  }

  .lt-rt-neg-marg {
    margin-left:-8px;
    margin-right:-8px;
  }

  .lt-rt-pos-marg {
    margin-left:8px;
    margin-right:8px;
  }

  .lt-rt-col-pad {
    padding-left:8px;
    padding-right:8px;
  }

  .outer {
    margin:16px 16px 0px 16px;
  }

/* SMALL PLUS */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .zero-pad {
    padding:0px;
  }

  .zero-marg {
    margin:0px;
  }

  .lt-rt-neg-marg {
    margin-left:-8px;
    margin-right:-8px;
  }

  .outer {
    margin:82px 16px 0px 16px;
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .outer {
    margin:74px 68px 0px 68px;
    /*test*/
  }
}