@media (min-width: 768px) {
  .three-fifths {
    width:60%;
  }

  .two-fifths {
    width:40%;
  }

  .one-fifth {
    width:20%;
  }

  .eighty-percent {
    width:80%;
  }

  .one-quarter {
    width:25%;
  }
}