/* sizes X-small and up are first level  */
.technologies-container {
  font-size:1.125em;
  font-weight:400;
  padding:6px 0px 6px 0px;
  border:solid; 
  border-width:2px;
  border-radius:8px;
  border-color:rgba(255,255,255,.5);
  color:rgba(255,255,255,.9);
  margin-bottom:10px;
  margin-top:8px;
}

.technology-container {
  //width:80%;
  text-align:center;
  border:solid;
  border-width:1px;
  border-radius:3px;
  padding:2px 2px 2px 2px;
  margin:3px 3px 3px 3px;
  border-color:rgba(255,255,255,.5);
}

.project-title {
  margin-top:14px;
  margin-top:10px;
  font-size:2.125em;
  font-weight:400
}

.project-general-text {
  font-size:1.1875em;
  font-weight:300;
}

.wanna-help-row {
  //margin-top:16px;
}

.wanna-help-title {
  font-size:1.375em;
  font-weight:300;
}

.wanna-help-link {
  padding:4px 4px 4px 4px;
  background-color:rgba(255,255,255,.5);
  float:left;
  margin-left:8px;
  display:inline-block;
}

.wanna-help-container {
  background-color:#333;
  padding:8px 6px 8px 0px;
  border:solid;
  border-width:2px;
  border-radius:8px;
  border-color:rgba(255,255,255,.8);
  color:rgba(255,255,255,.9);
}


@media (min-width: 768px) {
  .project-desc {
  padding-right:16px;
}

.project-help {
  padding-left:16px;
}
}



/* Small devices (tablets, 768px and up) */
