	.gen-outside-nav-item-container {
		float:right;
		display:inline-block;
	}

	.gen-outside-nav-item {
		padding:0px 16px 0px 16px;
	}

	.gen-outside-rt-nav-item {
		padding:0px 1px 0px 16px;
	}

	.gen-outside-nav-item-size {
		height:32px;
		width:auto;
	}

	.top-row .col-xs-3 {
		width:0%;
	}

	.top-row .col-xs-1 {
		width:0%;
	}

	.top-row .col-xs-8 {
		width:100%;
	}

@media (min-width: 540px) {
	.top-row .col-xs-3 {
		width:25%;
	}

	.top-row .col-xs-1 {
		width:8.333333%;
	}

	.top-row .col-xs-8 {
		width:66.66666%;
	}
}

@media (min-width: 768px) {

	.gen-outside-nav-item {
		padding:0px 10px 0px 10px;
	}

	.gen-outside-rt-nav-item {
		padding:0px 1px 0px 10px;
	}
	.fixed-nav-bar-right {
  		position:fixed;
  		z-index: 2;
  		background-color:rgb(43, 62, 80);
  		right:60px;
  		height:82px;
  		padding-top:46px;
  		top:0px;
	}

	.fixed-nav-bar-left {
		position:fixed;
  		z-index: 3;
  		background-color:rgb(43, 62, 80);
  		left:60px;
  		height:82px;
  		padding-top:46px;
  		top:0px;
	}

}


@media (min-width: 768px) {

	.gen-outside-nav-item {
		padding:0px 10px 0px 10px;
	}

	.gen-outside-rt-nav-item {
		padding:0px 1px 0px 10px;
	}
	.fixed-nav-bar-right {
  		position:fixed;
  		z-index: 2;
  		background-color:rgb(43, 62, 80);
  		right:8px;
  		height:82px;
  		padding-top:46px;
  		top:0px;
	}

	.fixed-nav-bar-left {
		position:fixed;
  		z-index: 3;
  		background-color:rgb(43, 62, 80);
  		left:8px;
  		height:82px;
  		padding-top:55px;
  		top:0px;
	}
}

@media (min-width: 992px) {

	.gen-outside-nav-item {
		padding:0px 10px 0px 10px;
	}

	.gen-outside-rt-nav-item {
		padding:0px 1px 0px 10px;
	}
	.fixed-nav-bar-right {
  		position:fixed;
  		z-index: 2;
  		background-color:rgb(43, 62, 80);
  		right:60px;
  		height:82px;
  		padding-top:46px;
  		top:0px;
	}

	.fixed-nav-bar-left {
		position:fixed;
  		z-index: 3;
  		background-color:rgb(43, 62, 80);
  		left:60px;
  		height:82px;
  		padding-top:54px;
  		top:0px;
	}
}

@media (min-width: 1200px) {

	.gen-outside-nav-item {
		padding:0px 10px 0px 10px;
	}

	.gen-outside-rt-nav-item {
		padding:0px 1px 0px 10px;
	}
	.fixed-nav-bar-right {
		width: 1080px;
		margin-left:auto;
		margin-right:auto;
  		position:fixed;
  		z-index: 2;
  		background-color:rgb(43, 62, 80);
  		left:0px;
  		right:0px;
  		height:82px;
  		padding-top:46px;
  		top:0px;
	}

	.fixed-nav-bar-left {
		width: 500px;
		margin-left:auto;
		margin-right:auto;
		position:fixed;
  		z-index: 3;
  		background-color:rgb(43, 62, 80);
  		left:-580px;
  		right:0px;
  		height:82px;
  		padding-top:54px;
  		top:0px;
	}
}

