
          <div class="row zero-marg wanna-help-row">
            <div class="col-xs-12 lt-rt-col-pad wanna-help-container" style="margin-bottom:12px;margin-top:8px;">
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad wanna-help-title">
                  WANT TO HELP?
                </div>
              </div>
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad project-general-text">
                 {{project.help_text}}
                </div>                      
              </div>
            </div>
            <div class="col-xs-12 zero-pad wanna-help-container">
              <div class="wanna-help-link">
                  <img src="images/github02.png" height=70px; width=70px;>
              </div> 
              <div class="wanna-help-link">
                  <img src="images/project-play.png" height=70px; width=70px;>
              </div>
            </div>
          </div>
   