<div class="container-fluid" style="max-width:1200px;padding:0px 0px 0px 0px;">

  <div class="outer">
 <!--     XS     --> 
    <div id="xs">
      <div class="row zero-marg lt-rt-neg-marg top-row">
        <div class="col-xs-3 zero-pad lt-rt-col-pad" style="margin-bottom:8px;">
          <div class ="navigation-chevron-menu">
            <div class="menu-next-to-cheveron">
              MENU
            </div>
            <div class="chevron-down">
              <div class="chevron-down-img">
                <img src="images/chevron-down-small.jpg">
              </div>
              <div class="chevron-up-img">
                <img src="images/chevron-up.jpg">
              </div>
            </div>
          </div>       
        </div>

        
        <div class="col-xs-1 zero-pad lt-rt-col-pad">
        </div>
        <div class="col-xs-8 zero-pad lt-rt-col-pad" style="padding-bottom:0px;">
          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-rt-nav-item">
              <a href="https://groups.google.com/forum/#!forum/nova-brigade">
              <img src="images/google-forum.png" height="36" width="auto"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <a href="http://www.meetup.com/Code-for-NoVA/">
              <img src="images/meetup-logo.png" class="gen-outside-nav-item-size"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <a href="https://github.com/sarl-hackerspace">
              <img src="images/github02.png" class="gen-outside-nav-item-size"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <a href="http://code4novabrigade.tumblr.com/">
              <img src="images/tumbler.png" class="gen-outside-nav-item-size"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-lt-nav-item">
              <a href="https://twitter.com/codenovabrigade">
              <img src="images/twitter_logo.png" class="gen-outside-nav-item-size"></a>
            </div>
          </div>
        </div>
        
      </div>

      <div class="row zero-marg">
        <div class="col-xs-12 lt-rt-col-pad xs-header-background">
          <div class="navigation-under-chevron-items">
            <div class = "navigation-sub-class">
              <div class="li">
                <a href="#/projects" style="color:#ddd">Projects</a>
              </div>
              <div class="li">
                <a href="#/events" style="color:#ddd">Events</a>
              </div>
              <div class="li">
                <a href="#/resources"  style="color:#ddd">Resources</a>
              </div>
              <div class="li">
                <a href="#/blog"  style="color:#ddd">Blog</a>
              </div>
              <div class="li">
                <a href="#/aboutus"  style="color:#ddd">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row zero-marg header-banner-row">
        <div class="col-xs-12 lt-rt-col-pad xs-header-background">
            <a href="#/home"><img src="images/codefornova-banner.jpg" class="center-image-xs" ></a>
        </div>
      </div>

      <div class="row-navigation-chevron-menu">
        <div class="row-navigation-menu-position">
          MENU
        </div>
        <div class="chevron-down;"style="display:inline-block;">
          <div class="chevron-down-img">
            <img src="images/chevron-down-small.jpg">
          </div>
        </div>
        <div class="chevron-up;" style="display:inline-block;">
          <div class="chevron-up-img">
            <img src="images/chevron-up.jpg">
          </div>
        </div>
      </div>
      <div class="row zero-marg lt-rt-neg-marg" style="margin-top:-16px">
        <div class="col-xs-12 lt-rt-col-pad azxs-header-background">
          <div class="aznavigation-under-chevron-items" style="azclear:left;">
            <div class = "row-navigation-sub-class">
              <div class="li">
                <a href="#/projects" style="color:#ddd">Projects</a>
              </div>
              <div class="li">
                <a href="#/events"  style="color:#ddd">Events</a>
              </div>
              <div class="li">
                <a href="#/resources"  style="color:#ddd">Resources</a>
              </div>
              <div class="li">
                <a href="#/blog"  style="color:#ddd">Blog</a>
              </div>
              <div class="li">
                <a href="#/aboutus"  style="color:#ddd">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

    

    <!-- SMALL PLUS-->
   
    <div id="sm-plus">
      <div class="header-sm-plus">
        <div class="row zero-marg lt-rt-neg-marg" style = "position:relative;">
          <div class="col-sm-3 lt-rt-col-pad">
            <a href="#/home">
            <img class="img-responsive" src="images/codefornova-logo.png"></a>
          </div>
          <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;bottom:0px;right:0px;">
            <div class="row zero-marg lt-rt-neg-marg">
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#555;width:20%">
                <div class="nav-btn-background">
                  <a href="#/projects">
                  <button type="button" class="btn btn-default nav-btn">
                    Projects
                  </button></a>
                </div>            
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#888;width:20%">
                <div class="nav-btn-background">
                  <a href="#/events">
                  <button type="button" class="btn btn-default nav-btn">
                    Events
                  </button></a>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#aaa;width:20%">
                <div class="nav-btn-background">
                  <a href="#/resources">
                  <button type="button" class="btn btn-default nav-btn">
                    Resources
                  </button></a>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#ccc;width:20%">
                <div class="nav-btn-background">
                  <a href="#/blog">
                  <button type="button" class="btn btn-default nav-btn">
                    Blog
                  </button></a>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#eee;width:20%">
                <div class="nav-btn-background">
                  <a href="#/aboutus">
                  <button type="button" class="btn btn-default nav-btn">
                    About Us
                  </button></a>
                </div>  
              </div>
            </div>
          </div>


          <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;top:0px;right:0px;">
            <div class="row zero-marg lt-rt-neg-marg">
              <div class="col-sm-2 lt-rt-col-pad one-fifth">
                <div class="row zero-marg lt-rt-neg-marg">             
                </div>            
              </div>
              <div class="col-sm-2 lt-rt-col-pad eighty-percent">
                <div class="row zero-marg lt-rt-neg-marg">

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="https://groups.google.com/forum/#!forum/nova-brigade">
                      <img src="images/google-forum.png" height="36" width="auto"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="http://www.meetup.com/Code-for-NoVA/">
                      <img src="images/meetup-logo.png" class="gen-outside-nav-item-size"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="https://github.com/sarl-hackerspace">
                      <img src="images/github02.png" class="gen-outside-nav-item-size"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="http://code4novabrigade.tumblr.com/">
                      <img src="images/tumbler.png" class="gen-outside-nav-item-size"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="https://twitter.com/codenovabrigade">
                      <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" ></a>
                    </div>
                  </div>   
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row zero-marg lt-rt-neg-marg">
        <div class="col-sm-12 lt-rt-col-pad">
          <div style="background-color:rgb(208, 213, 216); height:2px;margin:14px 0px 16px 0px">
          </div>
        </div>
      </div> 
    </div>


    <div class="row zero-marg lt-rt-neg-marg aboutus-intro-container">
      <div class="col-xs-12 lt-rt-col-pad aboutus-intro">
        We are about helping through technology, but that's not all we're about. 
        We're about friendship and combining hackers with designers, managers
        and idea makers to make something great! So come join us, even just to
        hang out, there's plenty of that too.

        We have a dozen or so regulars at our meetings and their talents include:
      </div>

      <div class="col-xs-12 lt-rt-col-pad">
        <div class="row zero-marg">
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Apache Configuration
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Bee Keeping
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            C++
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Data Analysis
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            DSP
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Git
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Java
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            JS
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Mongo
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            MySQL
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Patent Expertise
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Perl
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Python
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Ruby
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Ruby on Rails
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Sinatra
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            System Admin
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Teaching Expertise
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Tropo
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Web Development
          </div>
          <div class="col-xs-6  col-sm-3 lt-rt-col-pad  aboutus-talent">
            Xen virtualization
          </div>
        </div>
      </div>  
    </div>


    <div class="row zero-marg lt-rt-neg-marg">
      <div class="col-xs-12 lt-rt-col-pad aboutus-header">
        <div style="border-bottom-style:solid;border-bottom-width:2px;line-height:1.1em;">
          Organizers
        </div>        
      </div>
    </div>

    <div class="row zero-marg lt-rt-neg-marg">


      <div class="col-xs-12 col-sm-6 col-md-4 lt-rt-col-pad">
        <div class="row zero-marg member-container">
          <div style = "margin-top:10px">
            <div class="aboutus-member">
              <div class="col-xs-3 lt-rt-col-pad">
                <div class="aboutus-pict-background">
                  <img src="images/michelle.jpg" height=90px; width=90px;>
                </div> 
              </div>
              <div class="col-xs-9 lt-rt-col-pad">
                <div class="aboutus-name">
                  Michelle Koeth
                </div>
                <div class="aboutus-name">
                  a.k.a.
                </div>
                <div class="aboutus-alias">
                  Civic Hacking Evangelist
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;padding-top:2px;">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="aboutus-member-desc">
                Civic hacker, former patent lawyer, former Code for America 2011 fellow. Enthusiast of all things that help improve our world through technology, and help encourage innovation.
              </div>
            </div>
          </div>

          <!--
          <div class="col-sm-12 lt-rt-col-pad">
            <div class="aboutus-member-desc" style="float:left;">
              Profession:
            </div>
            <div class="aboutus-member-desc" style="float:left;margin-left:6px;">
              D.C. Law License
            </div>
          </div>
          <div class="col-sm-12 lt-rt-col-pad">
            <div class="aboutus-member-desc" style="float:left;">
              Project Management:
            </div>
            <div class="aboutus-member-desc" style="float:left;margin-left:6px;">
              yes
            </div>
          </div>
          <div class="col-sm-12 lt-rt-col-pad">
            <div class="aboutus-member-desc" style="float:left;">
              Publications:
            </div>
            <div class="aboutus-member-desc" style="float:left;margin-left:6px;">
              Blog writer
            </div>
          </div>
          <div class="col-sm-12 lt-rt-col-pad">
            <div class="aboutus-member-desc" style="float:left;">
              Knowlege Area:
            </div>
            <div class="aboutus-member-desc" style="float:left;margin-left:6px;">
              Intellectual property
            </div>
          </div> -->

          <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
            <div class="row zero-marg">
              <div >
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby
                  </div>      
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    JavaScript
                  </div> 
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    HTML
                  </div> 
                </div>  
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby on Rails
                  </div> 
                </div>               
              </div>          
            </div>        
          </div>
        </div>        
      </div>

            <div class="col-xs-12 col-sm-6 col-md-4 lt-rt-col-pad">
        <div class="row zero-marg member-container">
          <div style = "margin-top:10px">
            <div class="aboutus-member">
              <div class="col-xs-3 lt-rt-col-pad">
                <div class="aboutus-pict-background">
                  <img src="images/michelle.jpg" height=90px; width=90px;>
                </div> 
              </div>
              <div class="col-xs-9 lt-rt-col-pad">
                <div class="aboutus-name">
                  Michelle Koeth
                </div>
                <div class="aboutus-name">
                  a.k.a.
                </div>
                <div class="aboutus-alias">
                  Civic Hacking Evangelist
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;padding-top:2px;">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="aboutus-member-desc">
                Civic hacker, former patent lawyer, former Code for America 2011 fellow. Enthusiast of all things that help improve our world through technology, and help encourage innovation.
              </div>
            </div>
          </div>

          <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
            <div class="row zero-marg">
              <div >
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby
                  </div>      
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    JavaScript
                  </div> 
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    HTML
                  </div> 
                </div>  
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby on Rails
                  </div> 
                </div>               
              </div>          
            </div>        
          </div>
        </div>        
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4 lt-rt-col-pad">
        <div class="row zero-marg member-container">
          <div style = "margin-top:10px">
            <div class="aboutus-member">
              <div class="col-xs-3 lt-rt-col-pad">
                <div class="aboutus-pict-background">
                  <img src="images/nina.jpg" height=90px; width=90px;>
                </div> 
              </div>
              <div class="col-xs-9 lt-rt-col-pad">
                <div class="aboutus-name">
                  Nina Baliga
                </div>
                <div class="aboutus-name">
                  a.k.a.
                </div>
                <div class="aboutus-alias">
                  UI. UX.
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;padding-top:2px;">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="aboutus-member-desc">
                Web designer specializing in user interaction. Also expert organizer.
              </div>
            </div>
          </div>

          <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
            <div class="row zero-marg">
              <div >
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    HTML
                  </div>      
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    CSS
                  </div> 
                </div>                            
              </div>          
            </div>        
          </div>
        </div>        
      </div>
    </div>


    <div class="row zero-marg lt-rt-neg-marg" style="margin-top:30px;">
      <div class="col-xs-12 lt-rt-col-pad aboutus-header">
        <div style="border-bottom-style:solid;border-bottom-width:2px;line-height:1.1em;">
          The REGULARS
        </div>        
      </div>
    </div>

    <div class="row zero-marg lt-rt-neg-marg">


      <div class="col-xs-12 col-sm-6 col-md-4 lt-rt-col-pad">
        <div class="row zero-marg member-container">
          <div style = "margin-top:10px">
            <div class="aboutus-member">
              <div class="col-xs-3 lt-rt-col-pad">
                <div class="aboutus-pict-background">
                  <img src="images/kevin.jpg" height=90px; width=90px;>
                </div> 
              </div>
              <div class="col-xs-9 lt-rt-col-pad">
                <div class="aboutus-name">
                  Kevin Burleigh
                </div>
                <div class="aboutus-name">
                  a.k.a.
                </div>
                <div class="aboutus-alias">
                  The Mental Mentor
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;padding-top:2px;">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="aboutus-member-desc">
                Approaches coding from the computer science perspective. Likes code craftsmanship. Always willing to help with questions.
              </div>
            </div>
          </div>


          <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
            <div class="row zero-marg">
              <div >
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    DSP
                  </div>      
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby
                  </div> 
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    C++
                  </div> 
                </div>  
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Perl
                  </div> 
                </div> 
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    OOD
                  </div> 
                </div> 
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    TDD
                  </div> 
                </div>                         
              </div>          
            </div>        
          </div>
        </div>        
      </div>

            <div class="col-xs-12 col-sm-6 col-md-4 lt-rt-col-pad">
        <div class="row zero-marg member-container">
          <div style = "margin-top:10px">
            <div class="aboutus-member">
              <div class="col-xs-3 lt-rt-col-pad">
                <div class="aboutus-pict-background">
                  <img src="images/flo.jpg" height=90px; width=90px;>
                </div> 
              </div>
              <div class="col-xs-9 lt-rt-col-pad">
                <div class="aboutus-name">
                  Flo B. Jones
                </div>
                <div class="aboutus-name">
                  a.k.a.
                </div>
                <div class="aboutus-alias">
                  Pitbull
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;padding-top:2px;">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="aboutus-member-desc">
                I'm into Android and Ruby and Rails.
              </div>
            </div>
          </div>

          <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
            <div class="row zero-marg">
              <div >
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    java
                  </div>      
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    HTML
                  </div> 
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    CSS
                  </div> 
                </div>  
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby on Rails
                  </div> 
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Android
                  </div> 
                </div>               
              </div>          
            </div>        
          </div>
        </div>        
      </div>


      <div class="col-xs-12 col-sm-6 col-md-4 lt-rt-col-pad">
        <div class="row zero-marg member-container">
          <div style = "margin-top:10px">
            <div class="aboutus-member">
              <div class="col-xs-3 lt-rt-col-pad">
                <div class="aboutus-pict-background">
                  <img src="images/nina.jpg" height=90px; width=90px;>
                </div> 
              </div>
              <div class="col-xs-9 lt-rt-col-pad">
                <div class="aboutus-name">
                  Nina Baliga
                </div>
                <div class="aboutus-name">
                  a.k.a.
                </div>
                <div class="aboutus-alias">
                  UI. UX.
                </div>
              </div>
            </div>
          </div>
          <div style="clear:both;padding-top:2px;">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="aboutus-member-desc">
                Web designer specializing in user interaction. Also expert organizer.
              </div>
            </div>
          </div>

          <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
            <div class="row zero-marg">
              <div >
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby
                  </div>      
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    JavaScript
                  </div> 
                </div>
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    HTML
                  </div> 
                </div>  
                <div class="col-xs-3 col-sm-4 zero-pad">
                  <div class="aboutus-technology-container">
                    Ruby on Rails
                  </div> 
                </div>               
              </div>          
            </div>        
          </div>
        </div>        
      </div>



    </div>

  </div>
</div>

<script>
$(document).ready(function(){
  $(".navigation-chevron-menu").click(function(){
    $(".navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>



<script>
$(document).ready(function(){
  $(".row-navigation-chevron-menu").click(function(){
    $(".row-navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>
