<div class="container" id="main-container">

About Us

<!--
<div class="row">
    <div class="col-xs-12 col-sm-12" id="spacer-top">
    </div>
</div>


<div class = "row" id="header-for-xs">
  <div class="col-xs-12" id="col-xs-12-zeroed">
    <div class="xs-header-background">
      <img class="center-image-xs" src="images/logo-rectangle-xs.png">
    </div>
  </div>
</div>

<div class ="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-3" id="col-padding-sm-plus">
    <img src="images/logo-rectangle.png">
  </div>
  <div class="col-sm-9" id="col-padding-sm-plus">
    <div class="row-one-image">
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
        <!-- <div class="row-one-projects-message">
          About Us
        </div> 
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-header">
</div>

<div class="row" id="nav-for-xs" style="background-color:rgb(43,62,80);">
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 10px 0px 0px">
    <div class="xs-nav-bar-buttons" style="background-color:rgb(78,93,108)">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          Events <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="http://www.meetup.com/Arlington-Code-Shop/" id="xs-nav-bar-font">MeetUp</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Meetup Directions</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Upcoming Events</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Past Events</a></li>
        </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 0px">
    <div class="xs-nav-bar-buttons"style="background-color:rgb(78,93,108);">
      <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
        Project Info <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/projects" id="xs-nav-bar-font">All Projects</a></li>
        <li class="divider"></li>
        <li><a href="#/resources" id="xs-nav-bar-font">Resources</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 10px;">
    <div class="xs-nav-bar-buttons">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          About Us <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">Our Blog</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Google Forum</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Who We Are</a></li>
        </ul>
      
    </div>
  </div>
</div>

<div class ="row" id="row-zeroed-nav-bar-for-sm-plus">
  <div class="col-sm-2" id="col-padding-sm-plus-left">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Home</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/projects" class="nav-bar-ref-for-sm-plus">Projects</a>
    </div>
  </div>

  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">Resources</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-sm" data-toggle="dropdown">
      Contact Us <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="http://www.meetup.com/Arlington-Code-Shop/"id="nav-bar-font-sm">MeetUp</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Google Forum</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Our Blog</a></li>
    </ul>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">Events</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">About Us</a>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-12" id="col-padding-sm-plus-left">
    <div class="section-title">
      About Us
    </div>
  </div>
</div>

<div class ="row" id="row-zeroed" style="padding-bottom:6px;">
  <div class="col-sm-12" id="col-padding-sm-plus-left">
    <div class="section-text">
      We are about helping through technology, but that's not all we're about. 
      We're about friendship and with that combining hackers with designers, managers
      and idea makers to make something great! So come join us, even just to
      hang out, there's plenty of that too.

      We have ten regulars at our meetings and their talents include:
      </div>
  </div>
</div>
<div class ="row" id="row-zeroed">
  <div class="col-sm-4 col-xs-6" id="col-padding-sm-plus-left">
    <div class="section-text">
      Apache Configuration<br>
      Bee Keeping<br>
      C++<br>
      Data Analysis<br>
      Digital Signal Processing<br>
      Java<br>
      JS<br>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6" id="col-padding-sm-plus-left">
    <div class="section-text">
      Mongo<br>
      MySQL<br>
      Organization<br>
      Patent Expertise<br>
      Perl<br>
      Python<br>
      Ruby<br>
    </div>
  </div>
  <div class="col-sm-4 col-xs-6" id="col-padding-sm-plus-left">
    <div class="section-text">
      Ruby on Rails<br>
      Sinatra<br>
      System Administration<br>
      Teaching Expertise<br>
      Tropo<br>
      Web Development<br>
      Xen virtualization<br>
    </div>
  </div>
</div>

<div class="row" id="spacer-at-bottom">
  <div class="col-sm-12">
  </div>
</div>


</div>

<div class="container" id="main-container">
<div class="row">
    <div class="col-xs-12 col-sm-12" id="spacer-top">
    </div>
</div>-->