<!-- events events events events  events events events events events -->
<!-- events events events events  events events events events events -->
<!-- events events events events  events events events events events -->
<!-- events events events events  events events events events events -->
<!-- events events events events  events events events events events -->

<div class="row">
  <div class = "col-xs-12" id = "event-title-xs">
    Up Coming Events
  </div>
</div>

<div class="row" id="event-header-for-xs">
  <div class = "col-xs-12" style="text-align:center">
     NoVA National Day of Civic Hacking!<br>
     Saturday May 31. 8am to 9pm.<br>
     At National Science Foundation.<br>
     Come Hack with Us!
    <a class="meetup-link" href="http://www.eventbrite.com/e/northern-virginia-national-day-of-civic-hacking-2014-tickets-11044655863">RSVP</a>
  </div>
</div>
<div class="row" id="events-xs-spacer">
</div>
<div class="row" id="events-details-xs-500">
  <div class="col-xs-12" id="events-details">
    <div class="underline-div">
      Details:
    </div>
    <div style="clear:both">
    </div>
    <div>
      The National Science Foundation and Code for America's Northern Virginia Brigade are 
      teaming up again to host our second National Day of Civic Hacking with a pre-event 
      social hour on Friday night, May 30.<br>
      Come join other civic engaged residents and technology enthusiasts - from industry,
      non-profit, government and education sectors - as we create exciting new civic-based applications.<br>
      You'll have the exciting opportunity to work with national data sets from the 
      National Science Foundation and local datasets and applications from the City of 
      Alexandria and Arlington County.
    </div>
    <div class="underline-div">
      Prizes:
    </div>
    <div style="clear:both">
    </div>
    <div>
      You can also win one of a kind prizes from the NSF,
      and other cool techie toys from our sponsors.
    </div>
    <div class="underline-div">
      Directions:
    </div>
    <div style="clear:both">
    </div>
    <div>
      4201 N Wilson Blvd, Arlington, VA<br>
      From the atrium, go down the hall marked "North Elevators".
      We'll be in the conference rooms behind the guard station.
    </div>
  </div>
</div>

<div class="row" id="events-details-xs">
  <div class="col-xs-6" id="events-details">
    <div class="underline-div">
      Details:
    </div>
    <div style="clear:both">
    </div>
    <div>
      The National Science Foundation and Code for America's Northern Virginia Brigade are 
      teaming up again to host our second National Day of Civic Hacking with a pre-event 
      social hour on Friday night, May 30.<br>
      Come join other civic engaged residents and technology enthusiasts - from industry,
      non-profit, government and education sectors - as we create exciting new civic-based applications.<br>
      You'll have the exciting opportunity to work with national data sets from the 
      National Science Foundation and local datasets and applications from the City of 
      Alexandria and Arlington County.
    </div>
  </div>
  <div class="col-xs-6" id="events-details">    
    <div class="underline-div">
      Prizes:
    </div>
    <div style="clear:both">
    </div>
    <div>
      You can also win one of a kind prizes from the NSF,
      and other cool techie toys from our sponsors.
    </div>
    <div class="underline-div">
      Directions:
    </div>
    <div style="clear:both">
    </div>
    <div>
      4201 N Wilson Blvd, Arlington, VA<br>
      From the atrium, go down the hall marked "North Elevators".
      We'll be in the conference rooms behind the guard station.
    </div>
  </div>
</div>



<div class ="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-3" id="col-padding-sm-plus">
    <img src="images/logo-rectangle.png">
  </div>
  <div class="col-sm-9" id="col-padding-sm-plus">
    <div class="row-one-image">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-7">
        <div class="row-one-projects-message">
          Events: 
          You're Invited!
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-header">
</div>

<div class ="row" id="row-zeroed-nav-bar-for-sm-plus">
  <div class="col-sm-2" id="col-padding-sm-plus-left">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Home</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/projects" class="nav-bar-ref-for-sm-plus">Projects</a>
    </div>
  </div>

  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">Resources</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-sm" data-toggle="dropdown">
      Contact Us <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="http://www.meetup.com/Arlington-Code-Shop/"id="nav-bar-font-sm">MeetUp</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Google Forum</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Our Blog</a></li>
    </ul>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">Events</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">About Us</a>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>



<div class="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-12" id="col-padding-sm-plus">
    <div class="row-05-31-14">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="event-05-31-14">
          NoVA National Day of Civic Hacking!<br>
          Saturday May 31. 8am to 9pm.<br>
          At National Science Foundation.<br>
          Come Hack with Us!
          <a class="meetup-link" href="http://www.eventbrite.com/e/northern-virginia-national-day-of-civic-hacking-2014-tickets-11044655863">RSVP</a>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-6">
    <div class="underline-div">
      Details:
    </div>
    <div style="clear:both">
    </div>
    The National Science Foundation and Code for America's Northern Virginia Brigade are 
    teaming up again to host our second National Day of Civic Hacking with a pre-event 
    social hour on Friday night, May 30.<br>
    Come join other civic engaged residents and technology enthusiasts - from industry,
    non-profit, government and education sectors - as we create exciting new civic-based applications.<br>
    You'll have the exciting opportunity to work with national data sets from the 
    National Science Foundation and local datasets and applications from the City of 
    Alexandria and Arlington County. 
  </div>
  <div class="col-sm-6">
    <div class="row" id="row-zeroed-for-sm-plus">
      <div class="col-sm-12">
        <div class="underline-div">
          Prizes:
        </div>
        <div style="clear:both">
        </div>
        You can also win one of a kind prizes from the NSF,
        and other cool techie toys from our sponsors.
      </div>
    </div>
    <div class="row" id="row-zeroed-for-sm-plus">
      <div class="col-sm-12">
        <div class="underline-div">
          Directions:
        </div>
        <div style="clear:both">
        </div>
        4201 N Wilson Blvd, Arlington, VA<br>
        From the atrium, go down the hall marked "North Elevators".
        We'll be in the conference rooms behind the guard station.
      </div>
    </div>
  </div>
</div>


<!--events  events   events     events-->
</div>

<div class="row" id="spacer-at-bottom">
  <div class="col-sm-12">
  </div>
</div>