<div class="container-fluid" style="max-width:1200px;padding:0px 0px 0px 0px;">

  <div class="outer">
 <!--     XS     --> 
    <div id="xs">
      <div class="row zero-marg lt-rt-neg-marg top-row">
        <div class="col-xs-3 zero-pad lt-rt-col-pad" style="margin-bottom:8px;">
          <div class ="navigation-chevron-menu">
            <div class="menu-next-to-cheveron">
              MENU
            </div>
            <div class="chevron-down">
              <div class="chevron-down-img">
                <img style="height:15px;width:auto"src="images/chevron-down-small.jpg">
              </div>
              <div class="chevron-up-img">
                <img style="height:15px;width:auto"src="images/chevron-up.jpg">
              </div>
            </div>
          </div>       
        </div>

        
        <div class="col-xs-1 zero-pad lt-rt-col-pad">
        </div>
        <div class="col-xs-8 zero-pad lt-rt-col-pad" style="padding-bottom:0px;">
          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-rt-nav-item">
              <img src="images/google-forum.png" height="36" width="auto">
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <img src="images/meetup-logo.png" class="gen-outside-nav-item-size" >
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <img src="images/github02.png" class="gen-outside-nav-item-size" >
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <img src="images/tumbler.png" class="gen-outside-nav-item-size" >
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-lt-nav-item">
              <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
            </div>
          </div>
        </div>
        
      </div>

      <div class="row zero-marg">
        <div class="col-xs-12 lt-rt-col-pad xs-header-background">
          <div class="navigation-under-chevron-items" style="clear:left;position:absolute;z-index:2;">
            <div class = "navigation-sub-class">
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/" style="color:#ddd">Projects</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Events</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Resources</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Blog</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row zero-marg" style="margin-bottom:16px;position:relative;z-index:-2;">
        <div class="col-xs-12 lt-rt-col-pad xs-header-background">
            <img class="center-image-xs" src="images/codefornova-banner.jpg" style="height:150px;padding-top:8px; padding-bottom:8px;background-color:rgb(100, 115, 133);" >
        </div>
      </div>

      <div class="row-navigation-chevron-menu">
        <div class="row-navigation-menu-position">
          MENU
        </div>
        <div class="chevron-down;"style="display:inline-block;">
          <div class="chevron-down-img">
            <img style="height:15px;width:auto"src="images/chevron-down-small.jpg">
          </div>
        </div>
        <div class="chevron-up;" style="display:inline-block;">
          <div class="chevron-up-img">
            <img style="height:15px;width:auto"src="images/chevron-up.jpg">
          </div>
        </div>
      </div>
      <div class="row zero-marg lt-rt-neg-marg" style="margin-top:-16px">
        <div class="col-xs-12 lt-rt-col-pad azxs-header-background">
          <div class="aznavigation-under-chevron-items" style="azclear:left;">
            <div class = "row-navigation-sub-class">
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/" style="color:#ddd">Projects</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Events</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Resources</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Blog</a>
              </div>
              <div class="li">
                <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

    

    <!-- SMALL PLUS-->
   
    <div id="sm-plus">
      <div class="header-sm-plus">
        <div class="row zero-marg lt-rt-neg-marg" style = "position:relative;">
          <div class="col-sm-3 lt-rt-col-pad">
            <img class="img-responsive" src="images/codefornova-logo.png">
          </div>
          <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;bottom:0px;right:0px;">
            <div class="row zero-marg lt-rt-neg-marg">
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#555;width:20%">
                <div class="nav-btn-background">
                  <button type="button" class="btn btn-default nav-btn">
                    Projects
                  </button>
                </div>            
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#888;width:20%">
                <div class="nav-btn-background">
                  <button type="button" class="btn btn-default nav-btn">
                    Events
                  </button>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#aaa;width:20%">
                <div class="nav-btn-background">
                  <button type="button" class="btn btn-default nav-btn">
                    Resources
                  </button>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#ccc;width:20%">
                <div class="nav-btn-background">
                  <button type="button" class="btn btn-default nav-btn">
                    Blog
                  </button>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#eee;width:20%">
                <div class="nav-btn-background">
                  <button type="button" class="btn btn-default nav-btn">
                    About Us
                  </button>
                </div>  
              </div>
            </div>
          </div>


          <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;top:0px;right:0px;">
            <div class="row zero-marg lt-rt-neg-marg">
              <div class="col-sm-2 lt-rt-col-pad one-fifth">
                <div class="row zero-marg lt-rt-neg-marg">             
                </div>            
              </div>
              <div class="col-sm-2 lt-rt-col-pad eighty-percent">
                <div class="row zero-marg lt-rt-neg-marg">

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/google-forum.png" height="36" width="auto">
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/meetup-logo.png" class="gen-outside-nav-item-size" >
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/github02.png" class="gen-outside-nav-item-size" >
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/tumbler.png" class="gen-outside-nav-item-size" >
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
                    </div>
                  </div>   
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row zero-marg lt-rt-neg-marg">
        <div class="col-sm-12 lt-rt-col-pad">
          <div style="background-color:rgb(208, 213, 216); height:2px;margin:14px 0px 16px 0px">
          </div>
        </div>
      </div> 
    </div>
    
    <div class="row zero-marg  lt-rt-neg-marg" style="margin-top:16px;">
      <div class="col-xs-12 col-sm-6 lt-rt-col-pad" style="margin-bottom:16px;">
        <div class="events-container-border events-container-sizing">
          <div class="row zero-marg">
            <div class="col-sm-12 lt-rt-col-pad events-container-header">
              Next Event
            </div>
          </div>
          <div class="row zero-marg" >
            <div class="col-xs-8 lt-rt-col-pad events-container-text-reg">
              Civic Hacking Weekly Meetup<br>
              10/2/14<br>
              7:00pm - 9:00pm<br>
              National Science Foundation
            </div>
            <div class="col-xs-4 lt-rt-col-pad" >
              <div style="position:absolute;top:26px;">
                <div style="margin:0px 0px 0px auto;">
                  <div class="nav-btn next-event-rsvp">
                    RSVP
                  </div>
                </div>              
              </div>            
            </div>
          </div>
          <div class="row zero-marg">
            <div class="col-sm-12 lt-rt-col-pad events-container-text-reg" style="padding-top:12px;">
              From the atrium, go down the hall marked "North Elevators". We'll be in one of the conference rooms behind the guard station.
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 lt-rt-col-pad">
        <div class="events-container-border events-container-sizing">
          <div class="row zero-marg" style="margin-bottom:6px;">
            <div class="col-sm-12 lt-rit-col-pad events-container-header">
              All Upcoming Events
            </div>
          </div>
          <div class="row zero-marg" >
            <div class="col-xs-2 events-container-line-item-text" style="width:22%">
              10/9/14
            </div>
            <div class="col-xs-7 events-container-line-item-text" style="width:52%">
              Civic Hacking Weekly Meetup
            </div>
            <div class="col-xs-3 lt-rt-col-pad" style="padding:0px 20px 0px 20px;">
              <div>
                <div>
                  <div class="nav-btn upcoming-event-rsvp">
                    RSVP
                  </div>
                </div>              
              </div>            
            </div>
          </div>

          <div class="row zero-marg " style="margin:10px 0px 0px 0px;">
            <div class="col-xs-2 events-container-line-item-text"  style="width:22%">
              10/9/14
            </div>
            <div class="col-xs-7 events-container-line-item-text"  style="width:52%">
              Node JS Study Group (Week 2)
            </div>
            <div class="col-xs-3 lt-rt-col-pad" style="padding:0px 20px 0px 20px;">
              <div>
                <div>
                  <div class="nav-btn upcoming-event-rsvp">
                    RSVP
                  </div>
                </div>   
              </div>
            </div>
          </div>

          <div class="row zero-marg" style="margin:10px 0px 0px 0px;">
            <div class="col-xs-2 events-container-line-item-text"  style="width:22%">
              10/16/14
            </div>
            <div class="col-xs-7 events-container-line-item-text"  style="width:52%">
              Lightning Talks
            </div>
            <div class="col-xs-3 lt-rt-col-pad" style="padding:0px 20px 0px 20px;">
              <div>
                <div>
                  <div class="nav-btn upcoming-event-rsvp">
                    RSVP
                  </div>
                </div>   
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row zero-marg" style="margin-top:20px;">
      <div class="col-xs-12 lt-rt-col-pad events-container-padding events-meetup-container">
        <div class="row zero-marg">
          <div class="col-xs-12 lt-rt-col-pad events-container-header" style="text-align:center;">
            Join Our Meetup Group!
          </div>
        </div>
        <div class="row zero-marg" style="padding-bottom:8px;">
          <div class="col-xs-1 col-sm-2 lt-rt-col-pad">
          </div>
          <div class="col-xs-10 col-sm-8 lt-rt-col-pad events-meetup-text">
            <div class="row zero-marg">
              <div class="col-xs-9 lt-rt-col-pad">
                Want to find out about the latest events? Join the meetup group to get automatic  email updates.
              </div>
              <div class="col-xs-3 lt-rt-col-pad">
                <img src="images/meetup-logo.png" style="height:70px; width:auto;float:right;" >
              </div>              
            </div>
          </div>
          <div class="col-xs-1 col-sm-2 lt-rt-col-pad">
          </div>
        </div>
      </div>
    </div>


    <div class="row zero-marg" style="margin-top:20px;">
      <div class="col-sm-12 lt-rt-col-pad events-container-border events-container-padding">

       
        <div class="row zero-marg past-event-padding" style="margin-bottom:6px;">
          <div class="col-sm-12 lt-rt-col-pad events-sub-header">
            National Day of Civic Hacking 2014
          </div>
        </div>
        <div class="row zero-marg">
          <div class="col-sm-12 lt-rt-col-pad events-container-text-reg">
            <div class="azcol-sm-4 azlt-rt-col-pad" style="float:right;">
              <img src="images/2014-05-31-joe.jpg" class="img-responsive events-container-border" style="float:right;"> 
              The 2nd Annual Code for NoVA Hackathon (as part of the National Day of Civic Hacking) on 
              May 31st was a huge success!  Over 70 civic hackers worked on projects throughout the day 
              to help make our communities better.<br>
              Throughout the day, many prominent people came by to see what 
              this “hackathon was all about”.  Including Alexandria’s CIO, 
              Kevin Edwards, NSF’s Director and Deputy Director, Dr. France 
              Cordova and Dr. Cora B. Merratt, and numerous local government officials.<br>
              The hackers then split up into groups based on their interests, 
              and by 10am everyone was collaborating to come up with innovative 
              new solutions to the problems at hand.<br>
              By the end of the night, 7 teams had presented their ideas on 
              how to tackle some of the most interesting problems facing our government these days.<br> 
            </div>
          </div>
        </div>

        <div class="row zero-marg past-event-padding">
          <div class="col-sm-12 lt-rt-col-pad events-sub-header">
            National Day of Civic Hacking 2014
          </div>
        </div>
        <div class="row zero-marg" style="padding-bottom:10px;">
          <div class="col-sm-12 lt-rt-col-pad events-container-text-reg">
            <div class="azcol-sm-4 azlt-rt-col-pad" style="float:right;padding-left:8px;">
              <img src="images/2014-05-31-michelle.jpg" class="img-responsive events-container-border" style="float:right;">
              The 2nd Annual Code for NoVA Hackathon (as part of the National Day of Civic Hacking) on 
              May 31st was a huge success!  Over 70 civic hackers worked on projects throughout the day 
              to help make our communities better.<br>
              Throughout the day, many prominent people came by to see what 
              this “hackathon was all about”.  Including Alexandria’s CIO, 
              Kevin Edwards, NSF’s Director and Deputy Director, Dr. France 
              Cordova and Dr. Cora B. Merratt, and numerous local government officials.<br>
              The hackers then split up into groups based on their interests, 
              and by 10am everyone was collaborating to come up with innovative 
              new solutions to the problems at hand.<br>
              By the end of the night, 7 teams had presented their ideas on 
              how to tackle some of the most interesting problems facing our government these days.<br>
            </div>          
          </div>
        </div>
      
      </div>
    </div>

  </div>
</div>

<script>
$(document).ready(function(){
  $(".navigation-chevron-menu").click(function(){
    $(".navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>



<script>
$(document).ready(function(){
  $(".row-navigation-chevron-menu").click(function(){
    $(".row-navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>