<div class="container-fluid" style="max-width:1200px;padding:0px 0px 0px 0px;">

<!-- SMALL PLUS-->
<div class="outer">
  <div class="header-sm-plus">
    <div class="row zero-marg lt-rt-neg-marg" style = "position:relative;">
      <div class="col-sm-3 lt-rt-col-pad">
        <img class="img-responsive" src="images/codefornova-logo.png">
      </div>
      <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;bottom:0px;right:0px;">
        <div class="row zero-marg lt-rt-neg-marg">
          <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#555;width:20%">
            <div class="nav-btn-background">
              <button type="button" class="btn btn-default nav-btn">
                Projects
              </button>
            </div>            
          </div>
          <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#888;width:20%">
            <div class="nav-btn-background">
              <button type="button" class="btn btn-default nav-btn">
                Events
              </button>
            </div>  
          </div>
          <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#aaa;width:20%">
            <div class="nav-btn-background">
              <button type="button" class="btn btn-default nav-btn">
                Resources
              </button>
            </div>  
          </div>
          <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#ccc;width:20%">
            <div class="nav-btn-background">
              <button type="button" class="btn btn-default nav-btn">
                Blog
              </button>
            </div>  
          </div>
          <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#eee;width:20%">
            <div class="nav-btn-background">
              <button type="button" class="btn btn-default nav-btn">
                About Us
              </button>
            </div>  
          </div>
        </div>
      </div>


      <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;top:0px;right:0px;">
        <div class="row zero-marg lt-rt-neg-marg">
          <div class="col-sm-2 lt-rt-col-pad one-fifth">
            <div class="row zero-marg lt-rt-neg-marg">             
            </div>            
          </div>
          <div class="col-sm-2 lt-rt-col-pad eighty-percent">
            <div class="row zero-marg lt-rt-neg-marg">

              <div class="gen-outside-nav-item-container">
                <div class="gen-outside-nav-item">
                  <img src="images/google-forum.png" height="36" width="auto">
                </div>
              </div> 

              <div class="gen-outside-nav-item-container">
                <div class="gen-outside-nav-item">
                  <img src="images/meetup-logo.png" class="gen-outside-nav-item-size" >
                </div>
              </div> 

              <div class="gen-outside-nav-item-container">
                <div class="gen-outside-nav-item">
                  <img src="images/github02.png" class="gen-outside-nav-item-size" >
                </div>
              </div> 

              <div class="gen-outside-nav-item-container">
                <div class="gen-outside-nav-item">
                  <img src="images/tumbler.png" class="gen-outside-nav-item-size" >
                </div>
              </div> 

              <div class="gen-outside-nav-item-container">
                <div class="gen-outside-nav-item">
                  <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
                </div>
              </div>              
            </div>            
          </div>
        </div>
      </div>
    </div>    
  </div>
  

  <div class="row zero-marg lt-rt-neg-marg">
    <div class="col-sm-12 lt-rt-col-pad">
      <div class="line-below-header">
      </div>
    </div>      
  </div> 


  <div class="row zero-marg  lt-rt-neg-marg">
    <div class="col-sm-6 lt-rt-col-pad">
      <div class="events-container-border events-container-sizing">
        <div class="row zero-marg">
          <div class="col-sm-12 lt-rit-col-pad events-container-header">
            Next Event
          </div>
        </div>
        <div class="row zero-marg" >
          <div class="col-sm-8 lt-rit-col-pad events-container-text-reg">
            Civic Hacking Weekly Meetup<br>
            10/2/14<br>
            7:00pm - 9:00pm<br>
            National Science Foundation
          </div>
          <div class="col-sm-4 lt-rt-col-pad" >
            <div style="position:absolute;top:26px;">
              <div style="margin:0px 0px 0px auto;">
                <div class="nav-btn next-event-rsvp">
                RSVP
                </div>
              </div>              
            </div>            
          </div>
        </div>
        <div class="row zero-marg">
          <div class="col-sm-12 lt-rit-col-pad events-container-text-reg" style="padding-top:12px;">
            From the atrium, go down the hall marked "North Elevators". We'll be in one of the conference rooms behind the guard station.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 lt-rt-col-pad">
      <div class="events-container-border events-container-sizing">
        <div class="row zero-marg" style="margin-bottom:6px;">
          <div class="col-sm-12 lt-rit-col-pad events-container-header">
            All Upcoming Events
          </div>
        </div>
        <div class="row zero-marg" >
          <div class="col-sm-2 lt-rit-col-pad events-container-line-item-text">
            10/9/14
          </div>
          <div class="col-sm-7 lt-rit-col-pad events-container-line-item-text">
            Civic Hacking Weekly Meetup
          </div>
          <div class="col-sm-3 lt-rt-col-pad" style="padding:0px 20px 0px 20px;">
            <div>
              <div>
                <div class="nav-btn upcoming-event-rsvp">
                RSVP
                </div>
              </div>              
            </div>            
          </div>
        </div>

        <div class="row zero-marg " style="margin:10px 0px 0px 0px;">
          <div class="col-sm-2 lt-rit-col-pad events-container-line-item-text">
            10/9/14
          </div>
          <div class="col-sm-7 lt-rit-col-pad events-container-line-item-text">
            Node JS Study Group (Week 2)
          </div>
          <div class="col-sm-3 lt-rt-col-pad" style="padding:0px 20px 0px 20px;">
            <div>
              <div>
                <div class="nav-btn upcoming-event-rsvp">
                RSVP
                </div>
              </div>   
            </div>
          </div>
        </div>

        <div class="row zero-marg" style="margin:10px 0px 0px 0px;">
          <div class="col-sm-2 lt-rit-col-pad" style="font-size:1.2em;font-weight:300;line-height:1.2em;">
            10/16/14
          </div>
          <div class="col-sm-7 lt-rit-col-pad" style="font-size:1.2em;font-weight:300;line-height:1.2em;">
            Lightening Talks
          </div>
          <div class="col-sm-3 lt-rt-col-pad" style="padding:0px 20px 0px 20px;">
            <div>
              <div>
                <div class="nav-btn upcoming-event-rsvp">
                RSVP
                </div>
              </div>   
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row zero-marg" style="margin-top:20px;">
    <div class="col-sm-12 lt-rt-col-pad events-container-padding events-meetup-container">
      <div class="row zero-marg">
        <div class="col-sm-12 lt-rt-col-pad events-container-header" style="text-align:center;">
          Join Our Meetup Group!
        </div>
      </div>
      <div class="row zero-marg" style="padding-bottom:8px;">
        <div class="col-sm-2 lt-rt-col-pad">
        </div>
        <div class="col-sm-8 lt-rt-col-pad events-meetup-text">
          <div class="row zero-marg">
            <div class="col-sm-9 lt-rt-col-pad">
              Want to find out about the latest events? Join the meetup group to get automatic  email updates.
            </div>
            <div class="col-sm-3 lt-rt-col-pad">
              <img src="images/meetup-logo.png" style="height:70px; width:auto;float:right;" >
            </div>              
          </div>
        </div>
        <div class="col-sm-2 lt-rt-col-pad">
        </div>
      </div>
    </div>
  </div>

  <div class="row zero-marg" style="margin-top:20px;">
    <div class="col-sm-12 lt-rt-col-pad events-container-border events-container-padding">
    
    <div class="row zero-marg">
      <div class="col-sm-12 lt-rt-col-pad events-container-header">
        Past Events
      </div>
    </div>

    <div class="row zero-marg past-event-padding" style="margin-bottom:6px;">
      <div class="col-sm-12 lt-rt-col-pad events-sub-header">
        National Day of Civic Hacking 2014
      </div>
    </div>
    <div class="row zero-marg">
      <div class="col-sm-8 lt-rt-col-pad events-container-text-reg">
        The 2nd Annual Code for NoVA Hackathon (as part of the National Day of Civic Hacking) on 
      May 31st was a huge success!  Over 70 civic hackers worked on projects throughout the day 
      to help make our communities better.<br>
      Throughout the day, many prominent people came by to see what 
      this “hackathon was all about”.  Including Alexandria’s CIO, 
      Kevin Edwards, NSF’s Director and Deputy Director, Dr. France 
      Cordova and Dr. Cora B. Merratt, and numerous local government officials.<br>
        The hackers then split up into groups based on their interests, 
      and by 10am everyone was collaborating to come up with innovative 
      new solutions to the problems at hand.<br>
      By the end of the night, 7 teams had presented their ideas on 
      how to tackle some of the most interesting problems facing our government these days.<br>
      </div>
      <div class="col-sm-4 lt-rt-col-pad">
        <img src="images/2014-05-31-joe.jpg" class="img-responsive events-container-border" style="float:right;"> 
      </div>
    </div>

     <div class="row zero-marg past-event-padding">
      <div class="col-sm-12 lt-rt-col-pad events-sub-header">
        National Day of Civic Hacking 2014
      </div>
    </div>
    <div class="row zero-marg" style="padding-bottom:10px;">
      <div class="col-sm-8 lt-rt-col-pad events-container-text-reg">
        The 2nd Annual Code for NoVA Hackathon (as part of the National Day of Civic Hacking) on 
      May 31st was a huge success!  Over 70 civic hackers worked on projects throughout the day 
      to help make our communities better.<br>
      Throughout the day, many prominent people came by to see what 
      this “hackathon was all about”.  Including Alexandria’s CIO, 
      Kevin Edwards, NSF’s Director and Deputy Director, Dr. France 
      Cordova and Dr. Cora B. Merratt, and numerous local government officials.<br>
        The hackers then split up into groups based on their interests, 
      and by 10am everyone was collaborating to come up with innovative 
      new solutions to the problems at hand.<br>
      By the end of the night, 7 teams had presented their ideas on 
      how to tackle some of the most interesting problems facing our government these days.<br>
      </div>
      <div class="col-sm-4 lt-rt-col-pad">
        <img src="images/2014-05-31-michelle.jpg" class="img-responsive events-container-border" style="float:right;">
      </div>
    </div>




    </div>
  <div>


</div>
</div> 




<!--
<div class="container" id="main-container">

<div class="row">
    <div class="col-xs-12 col-sm-12" id="spacer-top">
    </div>
</div>

<div class = "row" id="header-for-xs">
  <div class="col-xs-12" id="col-xs-12-zeroed">
    <div class="xs-header-background">
      <img class="center-image-xs" src="images/logo-rectangle-xs.png">
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-header">
</div>


<div class="row" id="nav-for-xs" style="background-color:rgb(43,62,80);">
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 10px 0px 0px">
    <div class="xs-nav-bar-buttons" style="background-color:rgb(78,93,108)">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          Events <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="http://www.meetup.com/Arlington-Code-Shop/" id="xs-nav-bar-font">MeetUp</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Meetup Directions</a></li>
          <li class="divider"></li>
          <li><a href="#/events" id="xs-nav-bar-font">Upcoming Events</a></li>
          <li class="divider"></li>
          <li><a href="#/events" id="xs-nav-bar-font">Past Events</a></li>
        </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 0px">
    <div class="xs-nav-bar-buttons"style="background-color:rgb(78,93,108);">
      <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
        Project Info <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/projects" id="xs-nav-bar-font">All Projects</a></li>
        <li class="divider"></li>
        <li><a href="#/resources" id="xs-nav-bar-font">Resources</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 10px;">
    <div class="xs-nav-bar-buttons">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          About Us <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">Our Blog</a></li>
          <li class="divider"></li>
          <li><a href="https://groups.google.com/forum/#!forum/nova-brigade" id="xs-nav-bar-font">Google Forum</a></li>
          <li class="divider"></li>
          <li><a href="#/aboutus" id="xs-nav-bar-font">About Us</a></li>
        </ul>      
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class = "col-xs-12" id = "event-title-xs">
    Up Coming Events
  </div>
</div> 

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-3" id="col-padding-sm-plus">
    <img src="images/logo-rectangle.png">
  </div>
  <div class="col-sm-9" id="col-padding-sm-plus">
    <div class="row-one-image">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-7">
        <div class="row-one-projects-message">
          Events: 
          You're Invited!
        </div>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-header">
</div>

<div class ="row" id="row-zeroed-nav-bar-for-sm-plus">
  <div class="col-sm-2" id="col-padding-sm-plus-left">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Home</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/projects" class="nav-bar-ref-for-sm-plus">Projects</a>
    </div>
  </div>

  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/resources" class="reg-nav-bar-ref-for-sm-plus">Resources</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-sm" data-toggle="dropdown">
      Contact Us <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="http://www.meetup.com/Arlington-Code-Shop/"id="nav-bar-font-sm">MeetUp</a></li>
      <li class="divider"></li>
      <li><a href="https://groups.google.com/forum/#!forum/nova-brigade" id="nav-bar-font-sm">Google Forum</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Our Blog</a></li>
    </ul>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/events" class="reg-nav-bar-ref-for-sm-plus">Events</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/aboutus" class="reg-nav-bar-ref-for-sm-plus">About Us</a>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-12" id="col-padding-sm-plus-left">
    <div class="section-title">
      Past Events
    </div>
  </div>
</div>

<div class="events-display-sm-plus">
<div class ="row" id="row-zeroed">
  <div class="col-sm-12" id="col-padding-sm-plus-left">
    <div class = "section-text">
      The 2nd Annual Code for NoVA Hackathon (as part of the National Day of Civic Hacking) on 
      May 31st was a huge success!  Over 70 civic hackers worked on projects throughout the day 
      to help make our communities better.<br>
      Throughout the day, many prominent people came by to see what 
      this “hackathon was all about”.  Including Alexandria’s CIO, 
      Kevin Edwards, NSF’s Director and Deputy Director, Dr. France 
      Cordova and Dr. Cora B. Merratt, and numerous local government officials.
    </div>
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-7" id="col-padding-sm-plus-left">
    <div class = "section-text">
      Representatives from the Environmental Protection Agency (EPA), US Patent & Trade Office 
      (USPTO), Consumer Financial Protection Bureau (CFPB), Department of Energy (DOE), City 
      of Alexandria, Arlington County, and Institute of Museum and Library Services (IMLS) 
      presented data sets and challenges to the participants early in the morning.  
    </div> 
  </div>
  <div class="col-sm-5" id="col-padding-sm-plus-left-pictures">
    <div >
      <img src="images/2014-05-31-robin.jpg"> 
    </div> 
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-7" id="col-padding-sm-plus-left">
    <div class = "section-text">
      The hackers then split up into groups based on their interests, 
      and by 10am everyone was collaborating to come up with innovative 
      new solutions to the problems at hand.<br>
      By the end of the night, 7 teams had presented their ideas on 
      how to tackle some of the most interesting problems facing our government these days.
    </div> 
  </div>
  <div class="col-sm-5" id="col-padding-sm-plus-left-pictures">
    <div >
      <img src="images/2014-05-31-michelle.jpg"> 
    </div> 
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>



<div class ="row" id="row-zeroed">
  <div class="col-sm-7" id="col-padding-sm-plus-left">
    <div class = "section-text">
      The 1st place winners had tackled the “Ethics Challenge” working in conjunction with the
      National Science Foundation.  New federal rules state that federal employees may not 
      receive gifts from lobbyists. This team created an app with an easy search function that
      would allow federal employees to quickly find out which gifts are legal. 
      You can see the <a class="section-text-link" href="https://lobbyist-gift-ban.herokuapp.com/">working prototype</a>. For their prize, they will be having lunch with the 
      Deputy Director of the National Science Foundation, Dr. Cora Marrett. 
    </div> 
  </div>
  <div class="col-sm-5" id="col-padding-sm-plus-left-pictures">
    <div >
      <img src="images/2014-05-31-first-place.jpg"> 
    </div> 
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-7" id="col-padding-sm-plus-left">
    <div class = "section-text">
    The 2nd place winners were a team of students from Thomas Jefferson High School.  They 
    tackled the CFPB Consumer Protection challenge, where they created a visualization of 
    consumer complaints, based by-product, region or institutions.  The goal is to improve 
    the transparency and efficiency of the credit card market to further empower American 
    consumers.  You can see the <a class="section-text-link" href="https://www.google.com/fusiontables/DataSource?docid=1CLQBVMDt0WQ0E5kcNldpVIiivWJ6jRdjn5QF2CUC#chartnew:id=4">graphic interface</a> they designed.  As their prize, they will 
    be having lunch with Vint Cerf, one of the “fathers of the internet”. 
    </div> 
  </div>
  <div class="col-sm-5" id="col-padding-sm-plus-left-pictures">
    <div >
      <img src="images/2014-05-31-joe.jpg"> 
    </div> 
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-7" id="col-padding-sm-plus-left">
    <div class = "section-text">
      The 3rd place winners tackled the EPA’s challenge to identify harmful algal blooms that have 
      severe impacts on human health, aquatic ecosystems, and the economy.  The winners found
      an image segmentation method called "active contours" that outlines colors in 
      photos. They began adapting the algorithm and code to find the outline of algal blooms in water.
      Their prize for 3rd Place was a Tesla Coil.
    </div> 
  </div>
  <div class="col-sm-5" id="col-padding-sm-plus-left-pictures">
    <div >
      <img src="images/2014-05-31-kevin.jpg"> 
    </div> 
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>
</div>


<div class ="row" id="row-zeroed">
  <div class="col-sm-12" id="col-padding-sm-plus-left">
    <div class = "section-text">
      By the Numbers:<br>
      Registered Attendees:136&nbsp&nbsp~&nbsp&nbspCoders/Designers:40&nbsp&nbsp~&nbsp&nbspCommunity 
      Members:16&nbsp&nbsp~&nbsp&nbsp
      Government/Non-Profit:62&nbsp&nbsp~&nbsp&nbspAlexandria Plays App Testers:18&nbsp&nbsp~&nbsp&nbspChallenges Presented:17
      ~&nbsp&nbsp
      Challenges Tackled:7&nbsp&nbsp~&nbsp&nbsp#hackforchangenova Tweets:21&nbsp&nbsp~&nbsp&nbspCode 
      for Nova Brigade Tweets:57&nbsp&nbsp~&nbsp&nbsp
      Code for Nova Tumblr Posts:17&nbsp&nbsp~&nbsp&nbspBlogger Mentions:1&nbsp&nbsp~&nbsp&nbsp
      Alexandria Plays Surveys Filled:13! -- The Survey will continue to be open through July 1st, as the Alexandria Libraries 
      continues to promote it through their programs and outreach.  
    </div>
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>

<div class ="row" id="row-zeroed">
  <div class="col-sm-12" id="col-padding-sm-plus-left">
    <div class = "section-text">
    A BIG Thank you!<br>
    Special thank you to our sponsors!  For providing the much needed resources to make this 
    event a huge success.<br>

    Spectrum Communications - www.spectrumscience.com<br>
    FPMI Solutions - www.fpmi.com<br>
    Strategic Information Concepts<br>
    National Science Foundation - www.nsf.gov<br>
    300 Brand - www.300brand.com<br>
    And, thank you to our partners who helped get the word out!<br>
    City of Alexandria<br>
    Alexandria Libraries<br>
    ACTion Alexandria<br>
    City of Alexandria IT Commission<br>
    </div>
  </div>
</div>
<div class="row" id="general-row-spacer">
  <div class="col-sm-12">
  </div>
</div>



<!-- <div class="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-12" id="col-padding-sm-plus">
    <div class="row-05-31-14">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <div class="event-05-31-14">
          NoVA National Day of Civic Hacking!<br>
          Saturday May 31. 8am to 9pm.<br>
          At National Science Foundation.<br>
          Come Hack with Us!
          <a class="meetup-link" href="http://www.eventbrite.com/e/northern-virginia-national-day-of-civic-hacking-2014-tickets-11044655863">RSVP</a>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-6">
    <div class="underline-div">
      Details:
    </div>
    <div style="clear:both">
    </div>
    The National Science Foundation and Code for America's Northern Virginia Brigade are 
    teaming up again to host our second National Day of Civic Hacking with a pre-event 
    social hour on Friday night, May 30.<br>
    Come join other civic engaged residents and technology enthusiasts - from industry,
    non-profit, government and education sectors - as we create exciting new civic-based applications.<br>
    You'll have the exciting opportunity to work with national data sets from the 
    National Science Foundation and local datasets and applications from the City of 
    Alexandria and Arlington County. 
  </div>
  <div class="col-sm-6">
    <div class="row" id="row-zeroed-for-sm-plus">
      <div class="col-sm-12">
        <div class="underline-div">
          Prizes:
        </div>
        <div style="clear:both">
        </div>
        You can also win one of a kind prizes from the NSF,
        and other cool techie toys from our sponsors.
      </div>
    </div>
    <div class="row" id="row-zeroed-for-sm-plus">
      <div class="col-sm-12">
        <div class="underline-div">
          Directions:
        </div>
        <div style="clear:both">
        </div>
        4201 N Wilson Blvd, Arlington, VA<br>
        From the atrium, go down the hall marked "North Elevators".
        We'll be in the conference rooms behind the guard station.
      </div>
    </div>
  </div>
</div> -->


<!--events  events   events     events

<div class="row" id="spacer-at-bottom">
  <div class="col-sm-12">
  </div>
</div>

</div>-->