
<div class="container-fluid" style="max-width:1200px;padding:0px 0px 0px 0px;">


<div class="outer">
  <!--     XS     --> 
  <div id="xs">
    <div class="row zero-marg lt-rt-neg-marg">
      <div class="col-xs-3 zero-pad lt-rt-col-pad navigation-chevron-menu">
        <div class="menu-next-to-cheveron">
          MENU
        </div>
        <div class="chevron-down">
          <div class="chevron-down-img">
            <img style="height:15px;width:auto"src="images/chevron-down-small.jpg">
          </div>
        </div>
        <div class="chevron-up">
          <div class="chevron-up-img">
            <img style="height:15px;width:auto"src="images/chevron-up.jpg">
          </div>
        </div>        
      </div>


      <div class="col-xs-1 zero-pad lt-rt-col-pad">
      </div>
      <div class="col-xs-8 zero-pad lt-rt-col-pad" style="padding-bottom:0px;">
        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-rt-nav-item">
            <img src="images/google-forum.png" height="36" width="auto">
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/meetup-logo.png" class="gen-outside-nav-item-size" >
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/github02.png" class="gen-outside-nav-item-size" >
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/tumbler.png" class="gen-outside-nav-item-size" >
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
          </div>
        </div>
      </div>
    </div>
    <div class="navigation-under-chevron-items" style="clear:left;position:absolute;z-index:2;">
      <div class = "navigation-sub-class">
        <div class="li">
          <a href="http://www.meetup.com/Arlington-Code-Shop/" style="color:#ddd">Projects</a>
        </div>
        <div class="li">
          <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Events</a>
        </div>
        <div class="li">
          <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Resources</a>
        </div>
        <div class="li">
          <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">Blog</a>
        </div>
        <div class="li">
          <a href="http://www.meetup.com/Arlington-Code-Shop/"  style="color:#ddd">About Us</a>
        </div>
      </div>      
    </div> 

    <div class="row zero-marg" style="margin-bottom:16px;position:relative;z-index:-2;">
      <div class="col-xs-12 lt-rt-col-pad xs-header-background">
        <div>
          <img class="center-image-xs" src="images/codefornova-banner.jpg" class="img-responsive" style="height:150px;padding-top:8px; padding-bottom:8px;background-color:rgb(100, 115, 133);" >
        </div>
      </div>
    </div>

    <!--<div class="row zero-marg" style="margin-bottom:8px;">
      <div class="col-xs-12 lt-rt-col-pad navigation-chevron-menu" style="background:rgb(78,93,108);">
        <div class="row zero marg">
          <div class="xs-4 lt-rt-col-pad menu-next-to-cheveron"style="background:rgb(78,93,108);">
            MENU
          </div>
          <div class="xs-1 lt-rt-col-pad menu-next-to-cheveron"style="background:rgb(78,93,108);">
            <div class="chevron-down">
              <div class="chevron-down-img">
                <img style="height:20px;width:auto"src="images/chevron-down-small.jpg">
              </div>
            </div>
            <div class="chevron-up">
              <div class="chevron-up-img">
                <img style="height:20px;max-width:auto"src="images/chevron-up.jpg">
              </div>
            </div>
          </div>

        </div>        
      </div>    
    </div>  -->



    <div class="row zero-marg  lt-rt-neg-marg" style="margin-bottom:16px">
     <div class="col-xs-12 lt-rt-col-pad">      
        <img class="img-responsive" src="images/silver-w-building-blue-sky-xs.jpg">  
        <div class="main-message-positioning zero-marg">
          <div class="col-xs-1  zero-pad">
          </div>
          <div class="col-xs-10 zero-pad">
            <div class="main-message">
              We are designers, developers, idea-makers, leaders and data-geeks. <br>Join us and help Alexandria, Arlington and 
              Fairfax governments and civic organizations adopt open technologies.
              <a class="meetup-link" href="http://www.meetup.com/Arlington-Code-Shop/">Meet Up!</a>
            </div>
          </div> 
          <div class="col-xs-1  zero-pad">
          </div>
        </div>
      </div>
    </div>

    <div class="row zero-marg  lt-rt-neg-marg" style="margin-bottom:8px">
      <div class="col-xs-9 lt-rt-col-pad">
        <img class="img-responsive" src="images/background-xs.jpg">  
        <div class="main-message-positioning zero-marg" style="margin-right:8px; top:20%">
          <div class="col-xs-1  zero-pad">
          </div>
          <div class="col-xs-10 zero-pad">
            <div class="main-message" style="background-color:rgb(78, 93, 108)">
              Oct. 30th: Half the group is planning on joining in on the on-going NodeJS class.<br>
              Other half is chugging away!
            </div>
          </div> 
          <div class="col-xs-1  zero-pad">
          </div>
        </div>
      </div>
      <div class="col-xs-3 lt-rt-col-pad">
        <div class="lt-rt-col-pad"style="background-color:rgb(100, 115, 133);padding:0px 00px 0px 0px;"> 
          <img class="img-responsive" src="images/inspired-by-block-xs.jpg">
        </div>
        
      </div>
    </div>

  </div>
  


  <!--     SM     -->
  <div id="sm-plus">

    <div class="row zero-marg lt-rt-neg-marg">
      <div class="col-sm-6 lt-rt-col-pad top-nav-pad">
        <div class="row lt-rt-neg-marg">
          <div class="col-sm-3 lt-rt-col-pad" style="width:21%;padding-left:0px;">
            <div class="nav-item-on-left" style="padding-left:0px;">
              <a href="#/projects" class="nav-bar-ref-for-sm-plus">Projects</a>
            </div>
          </div>
          <div class="col-sm-2  lt-rt-col-pad one-fifth">
            <div class="nav-item-on-center">
              <a href="#/events" class="nav-bar-ref-for-sm-plus">Events</a>
            </div>
          </div>
          <div class="col-sm-3  lt-rt-col-pad">
            <div class="nav-item-on-center">
              <a href="#/resources" class="nav-bar-ref-for-sm-plus">Resources</a>      
            </div>
          </div>
          <div class="col-sm-2  lt-rt-col-pad">
            <div class="nav-item-on-center">
              <a href="#/blog" class="nav-bar-ref-for-sm-plus">Blog</a>
            </div>
          </div>
          <div class="col-sm-2  lt-rt-col-pad" >
            <div class="nav-item-on-center">
              <a href="#/about_us" class="nav-bar-ref-for-sm-plus" style="white-space:nowrap">About Us</a>
            </div>
          </div>
        </div>      
      </div>
      <div class="col-sm-6 zero-pad lt-rt-col-pad" style="padding-bottom:8px;">
        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-rt-nav-item">
            <img src="images/google-forum.png" height="36" width="auto">
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/meetup-logo.png" class="gen-outside-nav-item-size" >
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/github02.png" class="gen-outside-nav-item-size" >
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/tumbler.png" class="gen-outside-nav-item-size" >
          </div>
        </div> 

        <div class="gen-outside-nav-item-container">
          <div class="gen-outside-nav-item">
            <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
          </div>
        </div>
      </div>
    </div>

    <div class="row lt-rt-neg-marg">
      <div class="col-sm-5 zero-pad">
        <div class="row zero-marg bot-marg">
          <div class="col-sm-12 lt-rt-col-pad">
            <img class="img-responsive" src="images/codefornova-logo.png">
          </div>
        </div>
        <div class="row zero-marg">
          <div class="col-sm-8 lt-rt-col-pad three-fifths">
            <img class="img-responsive" src="images/we-are-block.png">        
          </div>
          <div class="col-sm-4 lt-rt-col-pad" style="width:40%;">        
            <img class="img-responsive" src="images/inspired-by-block.png">
          </div>
          <div class="abs-pos-img two-fifths">
            <img class="img-responsive" src="images/filler-2-block.png">
          </div>
        </div>
      </div>
      <div class="col-sm-7 lt-rt-col-pad">      
        <img class="img-responsive" src="images/square-main.png">  
        <div class="main-message-positioning zero-marg" style="margin-right:8px;">
          <div class="col-sm-1  zero-pad">
          </div>
          <div class="col-sm-10 zero-pad">
            <div class="main-message">
              Join us and help Alexandria, Arlington and 
              Fairfax governments and civic organizations adopt open technologies.
              <a class="meetup-link" href="http://www.meetup.com/Arlington-Code-Shop/">Meet Up!</a>
            </div>
          </div> 
          <div class="col-sm-1  zero-pad">
          </div>
        </div>
      </div>
    </div>

    <div class="row lt-rt-neg-marg top-marg">
      <div class="col-sm-12 zero-pad">
        <div class="row zero-pad zero-marg">
          <div class="col-sm-9 lt-rt-col-pad">
            <img class="img-responsive" src="images/third-row.png">   
            <div class="minor-message-positioning">
              <div class="col-sm-1">
              </div>
              <div class="col-sm-10">
                <div class="minor-message">
                  Oct. 30th:&nbsp Half the group is planning on joining in on the on-going NodeJS class.
                  Other half chugging away!
                </div>
              </div>
              <div class="col-sm-1">
              </div> 
            </div>          
          </div>
          <div class="col-sm-3 lt-rt-col-pad">
            <img style="height:auto;max-width:100%"src="images/our-projects.png">
          </div>
          <div class="abs-pos-img one-quarter">
            <img class="img-responsive" src="images/filler-3-block.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- outer -->


<div style="clear:both;">
</div>

<div style="height:32px;">
</div>

<div class="row" id="row-zeroed-for-sm-plus">
  <div class="col-sm-12" id="general-row-spacer">
  </div>
</div>


<div class="row">
  <div class="col-sm-12" id="spacer-at-bottom">
  </div>
</div>


</div> <!--container fluid-->

<script>
$(document).ready(function(){
  $(".navigation-chevron-menu").click(function(){
    $(".navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>

