
<div class="container" id="main-container">
<div class="row">
    <div class="col-xs-12 col sm-12" id="spacer-top-home">
    </div>
</div>

<div class = "row" id="header-for-xs">
  <div class="col-xs-12" id="col-xs-12-zeroed">
    <div class="xs-header-background">
      <img class="center-image-xs" src="images/logo-rectangle-xs.png">
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-header-xs">
  <div class="col-sm-12">
  </div>
</div>

<div class="row" id="nav-for-xs" style="background-color:rgb(43,62,80);">
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 10px 0px 0px">
    <div class="xs-nav-bar-buttons" style="background-color:rgb(78,93,108)">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          Events <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="http://www.meetup.com/Arlington-Code-Shop/" id="xs-nav-bar-font">MeetUp</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Meetup Directions</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Upcoming Events</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Past Events</a></li>
        </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 0px">
    <div class="xs-nav-bar-buttons"style="background-color:rgb(78,93,108);">
      <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
        Project Info <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/projects" id="xs-nav-bar-font">All Projects</a></li>
        <li class="divider"></li>
        <li><a href="#/resources" id="xs-nav-bar-font">Resources</a></li>
      </ul>
    </div>
  </div>

  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 10px;">
    <div class="xs-nav-bar-buttons">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          About Us <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">Our Blog</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Google Forum</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Who We Are</a></li>
        </ul>
      
    </div>
  </div>
</div>

<div class="row" id="billboard-for-xs">
  <div class="col-xs-1">
  </div>
  <div class="col-xs-10">
    <div class="main-message">
      <div>
        Come join designers, developers, leaders, idea-makers and data geeks!
      </div>
      <div style= "padding-top:2px;">
        We use technology to help 
        government and civic organizations in Arlington, Alexandria and Fairfax.
        <span>
          <a class="meetup-link" style="margin:4px 0px 4px 0px" href="http://www.meetup.com/Arlington-Code-Shop/">Join Us!</a>
        </span>
      </div>
    </div>
  </div>
    <div class="col-xs-1">
  </div>
</div>

<div class="row" id="billboard-for-xs-less-600">
  <div class="col-xs-0">
  </div>
  <div class="col-xs-12">
    <div class="main-message">
      <div>
        Come join designers, developers, leaders, idea-makers and data geeks!
      </div>
      <div style= "padding-top:2px;">
        We use technology to help 
        government and civic organizations in Arlington, Alexandria and Fairfax.
        <span>
          <a class="meetup-link" style="margin:4px 0px 4px 0px" href="http://www.meetup.com/Arlington-Code-Shop/">Join Us!</a>
        </span>
      </div>
    </div>
  </div>
    <div class="col-xs-0">
  </div>
</div>

<div class="row" id="inspiration-container-xs">
  <div class="col-sm-6">
    <div style = "text-aligh:left;padding-left:0px">
      Our Inspiration
    </div>
  </div>
</div>

<div id="tags-xs">
  <div style="display:inline-block">
    <img src="images/code_for_america_logo.png">
  </div>
</div>

<div class ="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="row" id="row-zeroed">
      <div class="col-sm-12" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;">
        <img src="images/logo-rectangle.png">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12" id="general-row-spacer">
      </div>
    </div>
    <div class="row" id="row-zeroed">
      <div class="col-sm-12" id = "we-are-image" style="padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;">
        <a href="http://codeforamerica.org/brigade/"><img src="images/link-transparent.png" alt="HTML tutorial" width="168" height="126"></a>
      </div>
    </div>
  </div>
  <div class="col-sm-9" id="col-padding-sm-plus">
    <div class="row-two-image">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div class="row-two-message">
          Join us and help Arlington, Alexandria and 
          Fairfax governments and civic orgs adopt open technologies.
          <a class="meetup-link" href="http://www.meetup.com/Arlington-Code-Shop/">Meet Up!</a>
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</div>

<div class="col-sm-12" id="general-row-spacer">
</div>

<div class ="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-9" id="col-padding-sm-plus">
    <div class="row-one-image">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8">
        <!-- <div class="row-one-message">
          NoVA National Day of Civic Hacking<br>
          May 31, 2014 - 8am to 9pm.
          <a class="minor-link" href="#/events">Info</a>
        </div> -->
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div id="bee-image">
      <div id="bee-overlay" style="position:relative;">
        <div style="position:absolute;z-index:3;width:168px;text-align:center">
          <div style="padding:34px 0px 0px 0px;">
            Projects
          </div>
        </div>
          <a href="#/projects" style="margin:0px 0px 0px 0px;position:absolute;z-index:4;">
            <img src="images/link-transparent.png">
          </a>
      </div>
    </div>
  </div>
</div>

<div class="row" id="row-zeroed-for-sm-plus">
  <div class="col-sm-12" id="above-nav-bar-spacer">
  </div>
</div>

<div class ="row" id="row-zeroed-for-sm-plus">
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Home</a>
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="#/projects" class="nav-bar-ref-for-sm-plus">Projects</a>      
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="https://groups.google.com/forum/#!forum/nova-brigade" class="nav-bar-ref-for-sm-plus">Google Forum</a>
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="#/resources" class="nav-bar-ref-for-sm-plus">Resources</a>
      
    </div>
  </div>
</div>

<div class ="row" id="row-zeroed-for-sm-plus">
  <div class="col-sm-3"id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="http://www.meetup.com/Arlington-Code-Shop/" class="nav-bar-ref-for-sm-plus">MeetUp</a>
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Events</a>
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Blog</a>
    </div>
  </div>
  <div class="col-sm-3" id="col-padding-sm-plus">
    <div class="nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">About Us</a>
    </div>
  </div>
</div>

<div class="row" id="row-zeroed-for-sm-plus">
  <div class="col-sm-12" id="general-row-spacer">
  </div>
</div>



<div class="row">
  <div class="col-sm-12" id="spacer-at-bottom">
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("#we-are-image").hover(
    function(){
      $("#we-are-image").css("background-image","url(images/code_for_america_logo-colored_02.png)");
    },
    function () {
      $("#we-are-image").css("background-image","url(images/whoWeAre06.png)");
    }
  );
});

$(document).ready(function(){
  $("#bee-image").hover(
    function(){
      $("#bee-overlay").css("visibility","visible");
    },
    function () {
      $("#bee-overlay").css("visibility","hidden");
    }
  );
});
</script>


</div>

