<div class="container" id="main-container">


<div class="row">
    <div class="col-xs-12 col-sm-12" id="spacer-top">
    </div>
</div>


<div class = "row" id="header-for-xs">
  <div class="col-xs-12" id="col-xs-12-zeroed">
    <div class="xs-header-background">
      <img class="center-image-xs" src="images/logo-rectangle-xs.png">
    </div>
  </div>
</div>

<div class ="row" id ="row-zeroed-for-sm-plus">
  <div class="col-sm-3" id="col-padding-sm-plus">
    <img src="images/logo-rectangle.png">
  </div>
  <div class="col-sm-9" id="col-padding-sm-plus">
    <div class="row-one-image">
      <div class="col-sm-1">
      </div>
      <div class="col-sm-10">
        <div class="row-one-projects-message">
          Projects: 
          Join the fun and contribute!
        </div>
      </div>
      <div class="col-sm-1">
      </div>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-header">
</div>

<div class="row" id="nav-for-xs" style="background-color:rgb(43,62,80);">
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 10px 0px 0px">
    <div class="xs-nav-bar-buttons" style="background-color:rgb(78,93,108)">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          Events <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="http://www.meetup.com/Arlington-Code-Shop/" id="xs-nav-bar-font">MeetUp</a></li>
          <li class="divider"></li>
          <li><a href="#" id="xs-nav-bar-font">Meetup Directions</a></li>
          <li class="divider"></li>
          <li><a href="#/events" id="xs-nav-bar-font">Upcoming Events</a></li>
          <li class="divider"></li>
          <li><a href="#/events" id="xs-nav-bar-font">Past Events</a></li>
        </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 0px">
    <div class="xs-nav-bar-buttons"style="background-color:rgb(78,93,108);">
      <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
        Project Info <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#/projects" id="xs-nav-bar-font">All Projects</a></li>
        <li class="divider"></li>
        <li><a href="#/resources" id="xs-nav-bar-font">Resources</a></li>
      </ul>
    </div>
  </div>
  <div class="col-xs-4" style="background-color:rgb(43,62,80);padding:0px 0px 0px 10px;">
    <div class="xs-nav-bar-buttons">
        <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-xs" data-toggle="dropdown">
          About Us <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" id="xs-nav-bar-font">Our Blog</a></li>
          <li class="divider"></li>
          <li><a href="https://groups.google.com/forum/#!forum/nova-brigade" id="xs-nav-bar-font">Google Forum</a></li>
          <li class="divider"></li>
          <li><a href="#/aboutus" id="xs-nav-bar-font">About Us</a></li>
        </ul>
      
    </div>
  </div>
</div>

<div class ="row" id="row-zeroed-nav-bar-for-sm-plus">
  <div class="col-sm-2" id="col-padding-sm-plus-left">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="nav-bar-ref-for-sm-plus">Home</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/projects" class="nav-bar-ref-for-sm-plus">Projects</a>
    </div>
  </div>

  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">Resources</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <button type="button" class="btn btn-default dropdown-toggle" id="center-nav-blocks-sm" data-toggle="dropdown">
      Contact Us <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><a href="http://www.meetup.com/Arlington-Code-Shop/"id="nav-bar-font-sm">MeetUp</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Google Forum</a></li>
      <li class="divider"></li>
      <li><a href="#/home" id="nav-bar-font-sm">Our Blog</a></li>
    </ul>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">Events</a>
    </div>
  </div>
  <div class="col-sm-2" id="col-padding-sm-plus">
    <div class="regular-nav-item-on-center">
      <a href="#/home" class="reg-nav-bar-ref-for-sm-plus">About Us</a>
    </div>
  </div>
</div>

<div class="row" id="spacer-row-below-nav">
  <div class="col-sm-12">
  </div>
</div>

<div ng-controller="ProjectCtrl">
  <div ng-repeat="project in projects">

<div class="row" id="project-row">
      <div class="col-xs-11 col-sm-11" id="col-zeroed">
        <div class = "project-container">
          <div class="project-name">
            {{project.name}}
          </div>
          <div class="project-description">
            {{project.description}}
          </div>
          <div class="technology-container">
            <div class="by-tech-label">
              Technology:
            </div>
            <div class="by-tech">
              Ruby, Database Management  
            </div>
          </div>
          <div style="clear:both;">
          </div>
          <div class = "proj-links-container">
             <a  id="proj-link" href="{{project.github_url}}">Github Repository</a>
             <a id="proj-link">Wanna Help?</a>
             <a id="proj-link">Data</a>
          </div>
        </div>
      </div>
</div>

  </div>
</div> <!--ng-controller-->

<div class="row" id="spacer-at-bottom">
  <div class="col-sm-12">
  </div>
</div>


</div><!--div container -->

<div class="container" id="main-container">
<div class="row">
    <div class="col-xs-12 col-sm-12" id="spacer-top">
    </div>
</div>