<div class="container-fluid" style="max-width:1200px;padding:0px 0px 0px 0px;">
  <div class="outer">
 <!--     XS     --> 
    <div id="xs">
      <div class="row zero-marg lt-rt-neg-marg top-row">
        <div class="col-xs-3 zero-pad lt-rt-col-pad" style="margin-bottom:8px;">
          <div class ="navigation-chevron-menu">
            <div class="menu-next-to-cheveron">
              MENU
            </div>
            <div class="chevron-down">
              <div class="chevron-down-img">
                <img style="height:15px;width:auto"src="images/chevron-down-small.jpg">
              </div>
              <div class="chevron-up-img">
                <img style="height:15px;width:auto"src="images/chevron-up.jpg">
              </div>
            </div>
          </div>       
        </div>

        
        <div class="col-xs-1 zero-pad lt-rt-col-pad">
        </div>
        <div class="col-xs-8 zero-pad lt-rt-col-pad" style="padding-bottom:0px;">
          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-rt-nav-item">
              <a href="https://groups.google.com/forum/#!forum/nova-brigade">
              <img src="images/google-forum.png" height="36" width="auto"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <a href="http://www.meetup.com/Code-for-NoVA/">
              <img src="images/meetup-logo.png" class="gen-outside-nav-item-size"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <img src="images/github02.png" class="gen-outside-nav-item-size" >
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-nav-item">
              <a href="http://code4novabrigade.tumblr.com/">
              <img src="images/tumbler.png" class="gen-outside-nav-item-size"></a>
            </div>
          </div> 

          <div class="gen-outside-nav-item-container">
            <div class="gen-outside-lt-nav-item">
              <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
            </div>
          </div>
        </div>
        
      </div>

      <div class="row zero-marg">
        <div class="col-xs-12 lt-rt-col-pad xs-header-background">
          <div class="navigation-under-chevron-items" style="clear:left;position:absolute;z-index:2;">
            <div class = "navigation-sub-class">
              <div class="li">
                <a href="#/projects" style="color:#ddd">Projects</a>
              </div>
              <div class="li">
                <a href="#/events" style="color:#ddd">Events</a>
              </div>
              <div class="li">
                <a href="#/resources"  style="color:#ddd">Resources</a>
              </div>
              <div class="li">
                <a href="#/blog"  style="color:#ddd">Blog</a>
              </div>
              <div class="li">
                <a href="#/aboutus"  style="color:#ddd">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row zero-marg" style="margin-bottom:16px;position:relative;">
        <div class="col-xs-12 lt-rt-col-pad xs-header-background">
            <a href="#/home"><img class="center-image-xs" src="images/codefornova-banner.jpg" style="height:150px;padding-top:8px; padding-bottom:8px;background-color:rgb(100, 115, 133);" ></a>
        </div>
      </div>

      <div class="row-navigation-chevron-menu">
        <div class="row-navigation-menu-position">
          MENU
        </div>
        <div class="chevron-down;"style="display:inline-block;">
          <div class="chevron-down-img">
            <img style="height:15px;width:auto"src="images/chevron-down-small.jpg">
          </div>
        </div>
        <div class="chevron-up;" style="display:inline-block;">
          <div class="chevron-up-img">
            <img style="height:15px;width:auto"src="images/chevron-up.jpg">
          </div>
        </div>
      </div>
      <div class="row zero-marg lt-rt-neg-marg" style="margin-top:-16px">
        <div class="col-xs-12 lt-rt-col-pad azxs-header-background">
          <div class="aznavigation-under-chevron-items" style="azclear:left;">
            <div class = "row-navigation-sub-class">
              <div class="li">
                <a href="#/projects" style="color:#ddd">Projects</a>
              </div>
              <div class="li">
                <a href="#/events"  style="color:#ddd">Events</a>
              </div>
              <div class="li">
                <a href="#/resources"  style="color:#ddd">Resources</a>
              </div>
              <div class="li">
                <a href="#/blog"  style="color:#ddd">Blog</a>
              </div>
              <div class="li">
                <a href="#/aboutus"  style="color:#ddd">About Us</a>
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

    

    <!-- SMALL PLUS-->
   
    <div id="sm-plus">
      <div class="header-sm-plus">
        <div class="row zero-marg lt-rt-neg-marg" style = "position:relative;">
          <div class="col-sm-3 lt-rt-col-pad">
            <a href="#/home">
            <img class="img-responsive" src="images/codefornova-logo.png"></a>
          </div>
          <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;bottom:0px;right:0px;">
            <div class="row zero-marg lt-rt-neg-marg">
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#555;width:20%">
                <div class="nav-btn-background">
                  <a href="#/projects">
                  <button type="button" class="btn btn-default nav-btn">
                    Projects
                  </button></a>
                </div>            
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#888;width:20%">
                <div class="nav-btn-background">
                  <a href="#/events">
                  <button type="button" class="btn btn-default nav-btn">
                    Events
                  </button></a>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#aaa;width:20%">
                <div class="nav-btn-background">
                  <a href="#/resources">
                  <button type="button" class="btn btn-default nav-btn">
                    Resources
                  </button></a>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#ccc;width:20%">
                <div class="nav-btn-background">
                  <a href="#/blog">
                  <button type="button" class="btn btn-default nav-btn">
                    Blog
                  </button></a>
                </div>  
              </div>
              <div class="col-sm-2 lt-rt-col-pad" style="azbackground-color:#eee;width:20%">
                <div class="nav-btn-background">
                  <a href="#/aboutus">
                  <button type="button" class="btn btn-default nav-btn">
                    About Us
                  </button></a>
                </div>  
              </div>
            </div>
          </div>


          <div class="col-sm-9 lt-rt-col-pad" style="position:absolute;top:0px;right:0px;">
            <div class="row zero-marg lt-rt-neg-marg">
              <div class="col-sm-2 lt-rt-col-pad one-fifth">
                <div class="row zero-marg lt-rt-neg-marg">             
                </div>            
              </div>
              <div class="col-sm-2 lt-rt-col-pad eighty-percent">
                <div class="row zero-marg lt-rt-neg-marg">

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="https://groups.google.com/forum/#!forum/nova-brigade">
                      <img src="images/google-forum.png" height="36" width="auto"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="http://www.meetup.com/Code-for-NoVA/">
                      <img src="images/meetup-logo.png" class="gen-outside-nav-item-size"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/github02.png" class="gen-outside-nav-item-size" >
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <a href="http://code4novabrigade.tumblr.com/">
                      <img src="images/tumbler.png" class="gen-outside-nav-item-size"></a>
                    </div>
                  </div> 

                  <div class="gen-outside-nav-item-container">
                    <div class="gen-outside-nav-item">
                      <img src="images/twitter_logo.png" class="gen-outside-nav-item-size" >
                    </div>
                  </div>   
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row zero-marg lt-rt-neg-marg">
        <div class="col-sm-12 lt-rt-col-pad">
          <div style="background-color:rgb(208, 213, 216); height:2px;margin:14px 0px 16px 0px">
          </div>
        </div>
      </div> 
    </div>

    
    <div class="projects-sm-plus">
      <div class="row zero-marg lt-rt-neg-marg">
        <div class="col-sm-12 lt-rt-col-pad project-title">
          Alexandria Plays
        </div>
      </div>

      <div class="row zero-marg azlt-rt-neg-marg">
        <div class="col-xs-12 col-sm-6 lt-rt-col-pad project-desc">
          <div class="row zero-marg lt-rt-neg-marg technologies-container">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="project-general-text ">
                Play where? Play how? Project Play has launched a mobile-friendly website to help parents and caregivers find places for young children to play in and around Alexandria. The site lets you search near your location for all the known playspaces and tells a little about what you can find at each one. The site also provides guidance on the types of play that can expand children’s minds, aid in socialization and promote physical development.
              </div>
            </div>
            <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
              <div class="row zero-marg">
                <div >
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      Ruby
                    </div>      
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      JavaScript
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      HTML
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      Java
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      NodeJS
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      Git
                    </div> 
                  </div>
                </div>          
              </div>        
            </div>
          </div>        
        </div>

        <div class="col-xs-12 col-sm-6 zero-pad project-help">
          <div class="row zero-marg wanna-help-row">
            <div class="col-xs-12 lt-rt-col-pad wanna-help-container" style="margin-bottom:12px;margin-top:8px;">
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad wanna-help-title">
                  WANNA HELP?
                </div>
              </div>
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad project-general-text">
                  We're looking to make the mobile version of the app next. Michelle K. is lead and is looking to do this in either Android or iOS or NodeJS. Still in the planning stages, come to the meeting to get involved. (Please check to see if Michelle will be at the next meeting, but come anyways!)
                </div>                      
              </div>
            </div>
            <div class="col-xs-12 zero-pad wanna-help-container">
              <div class="wanna-help-link">
                  <img src="images/github02.png" height=70px; width=70px;>
              </div> 
              <div class="wanna-help-link">
                  <img src="images/project-play.png" height=70px; width=70px;>
              </div>
            </div>
          </div>
        </div>        
      </div>

      <!--NODE JS PROJECT -->
      <div class="row zero-marg lt-rt-neg-marg">
        <div class="col-sm-12 lt-rt-col-pad project-title">
          {{project.name}}
        </div>
      </div>

      <div class="row zero-marg azlt-rt-neg-marg">
        <div class="col-xs-12 col-sm-6 lt-rt-col-pad project-desc">
          <div class="row zero-marg lt-rt-neg-marg technologies-container">
            <div class="col-sm-12 lt-rt-col-pad">
              <div class="project-general-text ">
                {{project.description}}
              </div>
            </div>
            <div class="col-sm-12 lt-rt-col-pad" style="margin-top:16px;">
              <div class="row zero-marg">
                <div >
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      {{project.tech}}
                    </div>      
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      {{project.tech}}
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      {{project.tech}}
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      {{project.tech}}
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      {{project.tech}}
                    </div> 
                  </div>
                  <div class="col-xs-3 col-sm-4 zero-pad">
                    <div class="technology-container">
                      Git
                    </div> 
                  </div>
                </div>          
              </div>        
            </div>
          </div>        
        </div>

        <div class="col-xs-12 col-sm-6 zero-pad project-help">
          <div class="row zero-marg wanna-help-row">
            <div class="col-xs-12 lt-rt-col-pad wanna-help-container" style="margin-bottom:12px;margin-top:8px;">
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad wanna-help-title">
                  WANNA HELP?
                </div>
              </div>
              <div class="row zero-marg">
                <div class="col-xs-12 lt-rt-col-pad project-general-text">
                  {{project.help-request}}
                </div>                      
              </div>
            </div>
            <div class="col-xs-12 zero-pad wanna-help-container">
              <div class="wanna-help-link">
                  <img src="images/github02.png" height=70px; width=70px;>
              </div> 
              <div class="wanna-help-link">
                  <img src="images/project-play.png" height=70px; width=70px;>
              </div>
            </div>
          </div>
        </div>        
      </div>




      
    </div>


  </div> <!--outer -->

</div> <!--container-fluid -->

<script>
$(document).ready(function(){
  $(".navigation-chevron-menu").click(function(){
    $(".navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>

<script>
$(document).ready(function(){
  $(".row-navigation-chevron-menu").click(function(){
    $(".row-navigation-sub-class").slideToggle(500);
    $(".chevron-down-img").toggle(0);
    $(".chevron-up-img").toggle(0);
  });
});
</script>
